* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    margin:8px;
    margin-top: 0;
}

a {
    color: blue;
    outline: none;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
}
input {
    vertical-align: middle;
}


img {
    width: 148px;
    height: 148px;
    padding: 4px;
    margin: 10px;
    border: 1px solid #DDDDDD;
    background-color: #EEEEEE;
}

img:hover {
    background-color: #FFF;
    border: 1px solid #EEE;
}

p {
    margin: 16px;
    font-size: 12px;
    color: #000;
}

blockquote {
    background-color:#F8F8F8;
    border:1px solid #ddd;
    font-style:italic;
    margin: 15px;
    padding: 15px;
    position: relative;
    color: #000;
}

blockquote p:first-child {
    margin-top: 0px;
}

ol {
    list-style: decimal inside none;
    margin-top: 10px;
    position: relative;
    color: #000;
    float:left;
}

ul {
    list-style: disc inside none;
    margin-top: 10px;
    position: relative;
    color: #000;
    float:left;
}

.mcePageBreak {
    display:block;
    border:0;
    width:30%;
    height:12px;
    border-top:1px dotted #ccc;
    margin-top:15px;
}

.mcePageBreak:hover {
    border: inherit;
    border-top: 1px dotted #ccc;
}