
/* -------------------------------------------------------------- 
   Reset
-------------------------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code, sup,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
padding: 0;
margin: 0;
border: 0;
vertical-align: baseline
}







/* -------------------------------------------------------------- 
   Text
-------------------------------------------------------------- */
h1,h2,h3,
h4,h5,h6		{ color: #111; margin-bottom: .75em; }

h1 				{ font-size: 30px; line-height: 1em; }
h2 				{ font-size: 24px; font-weight: normal; color: #222; margin-bottom: 1em }
h3 				{ font-size: 16px; color: #333; line-height: 1; margin-bottom: .75em }
h4 				{ font-size: 14px; color: #666; line-height: 1.25; margin-bottom: 1.25em }
h5 				{ font-size: 12px; font-weight: bold; margin-bottom: 1.5em }
h6 				{ font-size: 11px; font-weight: bold }

p           	{ margin: 0 0 1.5em }
p.last      	{ margin-bottom: 0 }
img         	{ border: none; }

ul, ol			{ margin-left: 28px; margin-bottom: 1.5em; }
li ul,
li ol			{ margin-top: 1em; }
ul li			{ list-style-type: disc; }
li				{ margin-bottom: .5em; }

dl          	{ margin: 0 0 1.5em 0 }
dl dt       	{ font-weight: bold }
dd          	{ margin-left: 1.5em }

abbr, 
acronym     	{ border-bottom: 1px dotted #666 }
address     	{ margin-top: 1.5em; font-style: italic }
del         	{ color:#666 }
sup				{ font-size: 9px; vertical-align:top; }

a				{ color: #358; text-decoration: underline }
a:visited		{ color: #667 }
a:focus, 
a:hover     	{ color: #933 }

blockquote  	{ margin: 1.5em; color: #666; font-style: italic }
strong      	{ font-weight: bold }
em,dfn      	{ font-style: italic; background: #ffc }
dfn         	{ font-weight: bold }
pre,code    	{ margin: 1.5em 0; white-space: pre }
pre,code,tt 	{ font: 12px 'andale mono', 'monotype.com', 'lucida console', monospace; line-height: 1.5 } 
tt         		{ display: block; margin: 1.5em 0; line-height: 1.5 }


hr { border: none; border-bottom: 1px dotted #CCC; margin-bottom: 2em; margin-top: 1em; }

table { width: 100%; border: 0; margin-bottom: 2em;  }

	 table thead th
	 {
	 	font-size: 13px;
		font-weight: bold;
		text-align: left;
		padding: 10px;
		
		background-color: #263849 !important;
		
		color: #FFF;
		
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}		
	
	table td { vertical-align: top; }
	
	table tbody tr td { background: #FFF; border-bottom: 1px dotted #DDD; }

	table th { padding: 10px 0; }
	table tbody td { padding: 10px; }
	
	table tr.even td { background: #F9F9F9; }
	
	tr:nth-child(odd) { background-color:#F9F9F9; }
	tr:nth-child(even) { background-color:#FFF; }




.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}


.clear { clear: both; }








/* -------------------------------------------------------------- 
   Layout
-------------------------------------------------------------- */
body
{
	background: #EFEFEF;
	font: 12px/1.7em arial,sans-serif;
	/*min-height: 1063px;*/
}

/*#wrapper { width: 100%; min-width: 960px; margin: 0 auto 150px; }*/
#wrapper { width: 100%; min-width: 960px; margin: 0 auto 0px; }

#header { background: #263849 url(../img/header_bg.png) repeat-x 0 0; width: 93%; height: 96px; margin: 0 auto; position: relative; }

	#header h1
	{
		background: url(../img/title.png) no-repeat 0 0;
		width: 322px;
		height: 46px;
		line-height: 500px;
		overflow: hidden;
		color: #FFF;		font-size: 32px;
		position: absolute;
		top: 30px;
		left: 30px;
	}
	
		#header h1 a { display: block; }

#info
{
	width: 215px;
	font-size: 11px;
	font-weight: bold;
	
	color: #DDD;
	text-align: right;
	position: absolute;
	right: 20px;
	top: 12px;
	padding-right: 85px;
}

	#info h4 { font-size: 16px; color: #DDD; margin-bottom: .6em; }

	#info a { color: #F90; }
	
	#info img 
	{ 
		width: 60px; 
		border: 3px solid #FFF; 
		-moz-border-radius: 4px; 
		-webkit-border-radius: 4px; 
		border-radius: 4px; 
		position: absolute; 
		top: 0; 
		right: 0; 
	}


#nav 
{ 
	background: #263849;
	width: 93%; 
	height: 47px; 
	
	margin: 0 auto 20px;
	
	position: relative;
	z-index: 100;
	
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,.35);
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.35);
	box-shadow: 1px 1px 3px rgba(0,0,0,.35);
}

#content { width: 95%; margin: 0 auto; position: relative; z-index: 10; }

#footer
{
	width: 93%;
	border-top: 1px dotted #AAA;
	clear: both;
	padding: 15px 0;
	margin: 0 auto;
	margin-top: 5em;
	margin-bottom: 30px;
}



.portlet
{
	background: #FFF;	
	margin-bottom: 1.5em;
	position: relative;
	border: 1px solid #CCC;
	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.10);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.10);
	box-shadow: 1px 1px 2px rgba(0,0,0,.10);
	
}
	
	.portlet-header
	{
		background: #F0F0F0 url(../img/portlet-header-bg.png) repeat-x 0 0;
		color: #444;
		text-align: left;
		padding: 15px 0 15px 0;
		width: 100%;
		cursor: pointer;		
		position: relative;
		overflow: hidden;
		border-bottom: 1px solid #CCC;
		-webkit-border-top-left-radius: 8px;
		-webkit-border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-moz-border-radius-topright: 8px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;

	}

		.portlet-state-closed .portlet-header { padding-bottom: 10px; }
	
		.portlet-header h4
		{
			font-size: 14px;			
			font-style: normal;
			font-weight: bold;
			color: #263849;
			padding: 0 0 0 10px;
			margin: 0;
		}
		
		.portlet-state-closed .portlet-header { -moz-border-radius: 6px; -webkit-border-radius: 6px; }
		
	.portlet-content { 	padding: 20px 15px 35px; position: relative; }	
	
	.portlet-state-closed .portlet-content { display: none; }
	.portlet-state-closed h4 { border: none; }
	
		.portlet-toggle-icon
		{
			background: url(../img/portlet/portlet-arrow-close.png) no-repeat 0 0 !important;
			width: 12px;
			height: 5px;
			display: block;
			position: absolute;
			right: 15px;
			top: 16px;
		}
	
		.portlet-state-closed .portlet-toggle-icon { background: url(../img/portlet/portlet-arrow-open.png) no-repeat 0 0 !important; }
		
	.portlet-tab-nav
	{
		padding: 0;
		margin: 0;
		position: absolute;
		top: 11px;
		right: 10px;
	}
	
	.portlet-state-closed .portlet-tab-nav { display: none; }

		.portlet-tab-nav li
		{
			background: transparent;
			line-height: 2em;
			list-style-type: none;
			float: left;
			margin: 0 1em 0 0;
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
			-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
			box-shadow: 1px 1px 1px rgba(0,0,0,.1);
			
		}
		
			.portlet-tab-nav li:hover { background: #DDD; }

			.portlet-tab-nav li a
			{
				color: #444;
				font-size: 11px;
				font-weight: bold;
				text-decoration: none;
				padding: 5px 8px;
				outline: none !important;
			}
			
				.portlet-tab-nav li a:hover {  }
							
		.portlet-tab-content { display: block; }
		
		.portlet-tab-nav .portlet-tab-nav-active
		{
			background-color: #263849 !important;
			border: 1px solid transparent;
		}
		
			.portlet-tab-nav-active a { color: #FFF !important; }
			
			.portlet-tab-nav-active a:hover { text-decoration: none !important; }
		
		.portlet-tab-content-active { display: block !imporant; }		
			.portlet-tab-nav .portlet-tab-nav-active  a { color: #0B66B9; text-decoration: none; }






/* -------------------------------------------------------------
FORM
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.form { padding: 0; margin: 0; }
.form .field { width: 100%; float: left; }
.form .field_help { margin-left: 145px; font-size: 90%; color: #777; }
.form label, 
.form span.label { color: #444; margin-right: 10px; padding-right: 10px; width: 125px; display: block; float: left;  font-weight: bold; text-align: right; position: relative; }
.form label em, 
.form span.label em { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }
.form input:focus,
.form input.error:focus, 
.form textarea:focus {	background-color: #FFC; border-color: #FC6; }
.form .upload { margin-bottom: -5em;}

.form .xsmall { width: 10%; }
.form .small { width: 25%; }
.form .medium { width: 40%; }
.form .large { width: 65%; }
.form .xlarge { width: 80%; }

.form .buttonrow { float: left; margin-top: 1em; margin-bottom: 2.5em; margin-left: 145px; display: block; }
.form .cancel { font-size: 11px; color: #C00; padding-left: 10px; }
.form .field { margin-bottom: 1.5em; }
.form .uploader { margin-bottom: .5em !important; }
.form .field input,
.form .field textarea
{
	padding: 4px;
	margin-right: 1em;
	border: 1px solid #CCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.form .phone_field input { margin-right: 0; }

/* Label top styles */
.label-top .field label { width: 100%; display: block; text-align: left; }
.label-top .field span.label { width: 100%; display: block; float: left; text-align: left; position: relative; }
.label-top .field .field_help { margin-left: 0; font-size: 11px; }
.label-top .buttonrow { margin-left: 0; }
.label-top .selector { width: 100%; display: block; float: left; }

.form div.controlset label, 
.form div.controlset input { display: inline; float: none; }
.form .controlset label {font-size: 11px; font-weight: normal !important; }
.controlset { margin-bottom: 2.5em; float: left; }
.controlset .controlset-pad { width: 300px; float: left;  }











/* -------------------------------------------------------------- 
   Grid
-------------------------------------------------------------- */

.xgrid { width: 960px; margin: 0 auto; }
.xfluid { width: 96%; }

.x1 				{ width: 60px; }
.x2 				{ width: 140px; }
.x3 				{ width: 220px; }
.x4 				{ width: 300px; }
.x5 				{ width: 380px; }
.x6 				{ width: 460px; }
.x7 				{ width: 540px; }
.x8 				{ width: 620px; }
.x9 				{ width: 700px; }
.x10 				{ width: 780px; }
.x11 				{ width: 860px; }
.x12 				{ width: 940px; }

	.a1			{ padding-right: 80px; }
	.a2			{ padding-right: 160px; }
	.a3			{ padding-right: 240px; }
	.a4			{ padding-right: 320px; }
	.a5			{ padding-right: 400px; }
	.a6			{ padding-right: 480px; }
	.a7			{ padding-right: 560px; }
	.a8			{ padding-right: 640px; }
	.a9			{ padding-right: 720px; }
	.a10		{ padding-right: 800px; }
	.a11		{ padding-right: 880px; }
	.a12		{ padding-right: 960px; }
	
	.p1			{ padding-left: 80px; }
	.p2			{ padding-left: 160px; }
	.p3			{ padding-left: 240px; }
	.p4			{ padding-left: 320px; }
	.p5			{ padding-left: 400px; }
	.p6			{ padding-left: 480px; }
	.p7			{ padding-left: 560px; }
	.p8			{ padding-left: 640px; }
	.p9			{ padding-left: 720px; }
	.p10		{ padding-left: 800px; }
	.p11		{ padding-left: 880px; }
	.p12		{ padding-left: 960px; }


.xfluid .x1 		{ width: 6.33%; }
.xfluid .x2 		{ width: 14.66%; }
.xfluid .x3 		{ width: 23% }
.xfluid .x4 		{ width: 31.33%; }
.xfluid .x5 		{ width: 39.66%; }
.xfluid .x6 		{ width: 48%; }
.xfluid .x7 		{ width: 56.33%; }
.xfluid .x8 		{ width: 64.67%; }
.xfluid .x9 		{ width: 73%; }
.xfluid .x10 		{ width: 81.33%; }
.xfluid .x11 		{ width: 89.67%; }
.xfluid .x12 		{ width: 98%; }
	
	.xfluid .a1			{ padding-right: 8.33%; }
	.xfluid .a2			{ padding-right: 16.66%; }
	.xfluid .a3			{ padding-right: 25%; }
	.xfluid .a4			{ padding-right: 33.33%; }
	.xfluid .a5			{ padding-right: 41.66%; }
	.xfluid .a6			{ padding-right: 50%; }
	.xfluid .a7			{ padding-right: 58.33%; }
	.xfluid .a8			{ padding-right: 66.67%; }
	.xfluid .a9			{ padding-right: 75%; }
	.xfluid .a10		{ padding-right: 83.33%; }
	.xfluid .a11		{ padding-right: 91.67%; }
	.xfluid .a12		{ padding-right: 100%; }
		
	.xfluid .p1			{ padding-left: 8.33%; }
	.xfluid .p2			{ padding-left: 16.66%; }
	.xfluid .p3			{ padding-left: 25%; }
	.xfluid .p4			{ padding-left: 33.33%; }
	.xfluid .p5			{ padding-left: 41.66%; }
	.xfluid .p6			{ padding-left: 50%; }
	.xfluid .p7			{ padding-left: 58.33%; }
	.xfluid .p8			{ padding-left: 66.67%; }
	.xfluid .p9			{ padding-left: 75%; }
	.xfluid .p10		{ padding-left: 83.33%; }
	.xfluid .p11		{ padding-left: 91.67%; }
	.xfluid .p12		{ padding-left: 100%; }
	
.x1, .x2, .x3, .x4, 
.x5, .x6, .x7, .x8, 
.x9, .x10, .x11,  .x12 
{
	margin: 0 10px 1.5em;
	float: left;
}

.xfluid .x1, .xfluid .x2, .xfluid .x3, 
.xfluid .x4, .xfluid .x5, .xfluid .x6, 
.xfluid .x7, .xfluid .x8, .xfluid .x9, 
.xfluid .x10, .xfluid .x11,  .xfluid .x12 
{
	margin: 0 .85% 2em;
}

.xbreak { clear: both; }

.xgrid:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}







/* -------------------------------------------------------------- 
   Menu
-------------------------------------------------------------- */

.mega-container
{
	text-align: left;
	list-style-type: none !important;
	padding: 0;
	margin: 0;
}

/* List item styling */
.mega-container li			{ list-style-type: none; }

.mega
{
	float: left;
	position: relative;
	z-index: 10;
	padding-left: 10px; 
	margin: 8px 0 10px 0;
	list-style-type: none !important;
}

	.mega:first-child { background: none !important; }

	.mega:hover { z-index: 10000 !important; }
	*:first-child+html .mega:hover { zoom: 1 !important;  }


/* Menu tab styling */	

.mega .mega-tab,
.mega .mega-link,
.mega-current .mega-tab,
.mega-current .mega-link
{
	background: url(../img/button-gradient.png) repeat-x right -200px;	
	font-weight: bold;
	color: #222;	
	font-size: 12px;
	text-decoration: none;
	line-height: 0;	
	display: block;
	padding: 15px 35px 15px 10px;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	cursor: pointer;	
	position: relative;	
	z-index: 2;	
	border: 1px solid transparent;
	
	text-shadow: 1px 1px 3px rgba(0,0,0,.35);
}

.mega-current .mega-tab { background-position: right -100px !important; }

.mega-link { background-position: right -2000px !important; color: #fff !important; padding-right: 10px !important; padding-bottom: 10px;  }

.mega-link:hover,
.mega-current .mega-link
{ 
	background-position: right -100px !important;		
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;	
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    .mega .mega-tab,
    .mega .mega-link  { padding-bottom: 10px !important; }
}

	.mega:hover .mega-tab
	{
		background-position: right -100px; 
		background-color: #AAA;
		-webkit-border-bottom-right-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		-moz-border-radius-bottomright: 0;
		-moz-border-radius-bottomleft: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	
/* Content container styling */	

.mega-content 
{ 
	width: 175px;
	display: none; 
	-webkit-border-radius: 4px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 4px;
	-moz-border-radius-topleft: 0;
	border-radius: 4px;
	border-top-left-radius: 0;	
	padding: 10px;
	position: absolute;
	top: 98%;	
	left: 10px;
	border: 4px solid #aaa;
	text-align: left;
	color: #222;
	font-size: 11px;
	z-index: 6;
	background: #FFF;
}

	.mega .mega-content li { background-image: none; }
	.mega:hover .mega-content { display: block; border-color: #aaa; }	

	*+html .mega-content { padding-bottom: 5px !important; } /* Fix padding in IE7 */
	*+html .mega-menu li > ul { padding-top: 5px !important; padding-bottom: 10px !important; }
	


/* Drop Menu Styling */

.mega-menu { background: #aaa; filter: none !important; padding: 5px 5px 0 !important; z-index: 10000 !important; }

.mega-menu ul { list-style-type: none; margin: 0; }
	
	.mega-menu li { margin-bottom: .5em; }
	
		.mega-menu li a
		{			 
			background-color: #F9F9F9;  
			display: block;
			padding: 5px 10px 5px 10px;
			color: #358;
			text-decoration: none;
			font-weight: bold;
			-moz-border-radius: 4px; 
			-webkit-border-radius: 4px; 
			border-radius: 4px;
		}
		
		.mega-menu li a.hasSub { background-image:  url(../img/link-menu-arrow.png); background-repeat: no-repeat; background-position: 95% 50% ;}

		
			.mega-menu li a:hover { background-color: #DDD; }

		.mega-menu li { position: relative; }
			.mega-menu li:hover > ul { display: block !important; }
			
		.mega-menu li > ul { background: #689C29; width: 175px; padding: 10px 10px 5px;  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; z-index: 1000; position: absolute; left: 100%; top: 0; display: none; }


/* Utility Classes */

.mega-left { left: 0; }
.mega-right { left: auto; right: 0; }

	.mega-right 
	{ 
		-webkit-border-radius: 4px;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius: 4px;
		-moz-border-radius-topright: 0;
		border-radius: 4px;
		border-top-right-radius: 0;	
	}


/* Color styling */


.mega-container .mega-tab { background-color: transparent; color: #fff !important; background-position: right top; border: 1px solid transparent; }

.mega-container .mega:hover .mega-tab,
.mega-container .mega:hover .mega-link,
.mega-container .mega-current .mega-tab,
.mega-container .mega-current .mega-link  { background-color: #263849; color: #fff !important; border-color: #1C2B37;   }

.mega-container .mega:hover .mega-content { border-color: #263849; }
.mega-container .mega-menu { background: #263849 !important; }
.mega-container li > ul { background-color: #263849 !important; }






/* -------------------------------------------------------------- 
   Buttons
-------------------------------------------------------------- */
.btn,
.btn-icon,
.btn-mini
{
	background-repeat: repeat-x;
	color: #FFF;	
	font-weight: bold;
	display: inline-block;	
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	padding: 0 15px 4px;
	margin: 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=135,strength=2);
	cursor: pointer;
	position: relative;
}
	
	/* Active/Click state */
	.btn:active, .btn-icon:active, .btn-mini:active { top: 1px; }


/* Sizes */
.btn, .btn-icon { background-position: 0 -80px; font-size: 12px; height: 32px; line-height: 29px; }
.btn.btn-small, .btn-icon.btn-small { background-position: 0 0; font-size: 10px; height: 26px; line-height: 23px; }
.btn.btn-large, .btn-icon.btn-large { background-position: 0 -160px; font-size: 15px; height: 42px; line-height: 40px; }

	/* Sizes - Line height for A buttons need to be different */
	a.btn, a.btn-icon { height: 32px; line-height: 32px; padding-bottom: 0; }
	a.btn.btn-small, a.btn-icon.btn-small { line-height: 26px; padding-bottom: 0; }
	a.btn.btn-large, a.btn-icon.btn-large { line-height: 42px; padding-bottom: 0; }
	

/* Fix the button in IE7 :-( */
*+html .btn, *+html .btn-icon { border-color: none ; border: 1px solid transparent; }



/* Set default button colors */
.btn, .btn-icon, .btn-mini,
.btn:visited, .btn-icon:visited, .btn-mini:visited {  background-image: url(../img/bg-lite.png); background-color: #263849; border-color: #16222C; color: #FFF; }

.btn:hover, .btn-icon:hover, .btn-mini:hover { background-color: #16222C; color: #FFF; }


/* Colors */	
.btn-pink,
.btn-pink:visited { background-color: #FF0066; border-color: #DA0C59; }
.btn-pink:hover { background-color: #DA0C59; }

.btn-blue,
.btn-blue:visited { background-color: #066ECD; border-color: #0561B4; }
.btn-blue:hover { background-color: #0561B4; }

.btn-red,
.btn-red:visited { background-color: #E40001; border-color: #CC0000; }
.btn-red:hover { background-color: #CC0000; }

.btn-green,
.btn-green:visited { background-color: #77B32F; border-color: #689C29; }
.btn-green:hover { background-color: #689C29; }

.btn-black,
.btn-black:visited { background-color: #111; border-color: #000; }
.btn-black:hover { background-color: #000; }

.btn-purple,
.btn-purple:visited { background-color: #7B0F75; border-color: #6A0D66; }
.btn-purple:hover { background-color: #6A0D66; }

.btn-maroon,
.btn-maroon:visited { background-color: #750000; border-color: #530000; }
.btn-maroon:hover { background-color: #530000; }

.btn-yellow,
.btn-yellow:visited { background-color: #FFCC00; border-color: #D9AD01; }
.btn-yellow:hover { background-color: #D9AD01; }

.btn-teal,
.btn-teal:visited { background-color: #39A7B6; border-color: #2E8794; }
.btn-teal:hover { background-color: #2E8794; }

.btn-orange,
.btn-orange:visited { background-color: #F90; border-color: #D58000; color: #FFF; }
.btn-orange:hover{ background-color: #D58000; color: #FFF; }

.btn-grey,
.btn-grey:visited  { background-color: #999; border-color: #888; color: #FFF; }
.btn-grey:hover{ background-color: #888; color: #FFF; }


/* Images Overlays - Gradient Effect */
/* 50% Opacity for darker colors */
.btn-blue,
.btn-black,
.btn-purple,
.btn-maroon,
.btn-teal,
.btn-grey { background-image: url(../img/bg-dark.png) !important; }


/* 65% opacity for lighter colors */
.btn-red,
.btn-orange,
.btn-green,
.btn-yellow,
.btn-pink { background-image: url(../img/bg-lite.png) !important; }



/* Icon Button Styles */
.btn-icon { padding-left: 32px !important; }
*+html .btn-icon { padding-left: 20px !important; padding-right: 5px !important; }

.btn-icon span
{
	background-image: url(../img/amp-btn-icon-sprite.png); 
	background-repeat: no-repeat; 
	background-position: 0 0; 
	width: 16px; 
	height: 16px; 
	position: absolute; 
	left: 6px; 
	top: 6px;
}

	.btn-icon.btn-small span { top: 4px; }
	.btn-icon.btn-large span { top: 12px; }
	@-moz-document url-prefix() { .btn-icon span { left: -24px; top: 0px; } .btn-icon.btn-small span { top: -1px; } .btn-icon.btn-large span { top: 4px; } } 


/* Mini Buttons */
.btn-mini 
{ 
	background-position: 0 0; 
	width: 32px; 
	height: 26px !important; 
	line-height: 500px !important; 
	overflow: hidden;
	padding: 0; 
}

	.btn-mini span 
	{ 
		background-image: url(../img/amp-btn-icon-sprite.png); 
		background-repeat: no-repeat; 
		display: block;
		width: 16px; 
		height: 16px;
		line-height: 0;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -8px;
		margin-top: -8px;
	}
	
	
/* Icon Classes */
.btn-arrow-down span { background-position: -48px 0; }
.btn-arrow-up span { background-position: -32px 0; }
.btn-arrow-right span { background-position: -16px 0; }
.btn-arrow-left span { background-position: 0 0; }
.btn-comment span { background-position: -112px 0; }
.btn-heart span { background-position: -96px 0; }
.btn-star span { background-position: -80px 0; }
.btn-cart span { background-position: -64px 0; }
.btn-print span { background-position: -128px 0; }
.btn-rss span { background-position: -144px 0; }
.btn-person span { background-position: 0 -16px; }
.btn-check span { background-position: -16px -16px; }
.btn-dollar span { background-position: -32px -16px; }
.btn-refresh span { background-position: -48px -16px; }
.btn-home span { background-position: -64px -16px; }
.btn-plus span { background-position: -80px -16px; }
.btn-minus span { background-position: -96px -16px; }
.btn-cross span { background-position: -112px -16px; }
	
	
/* Transparent Button Styles */
.btn-transparent, .btn-transparent:hover { background-image: url(../img/bg-lite.png); background-color: transparent; filter: none; border-color: transparent\0/; border-color: rgba(0,0,0,.4) !important; margin: 0 1em 0 0; }
*+html .btn-transparent { border: none; }





/* -------------------------------------------------------------- 
   Tabs
-------------------------------------------------------------- */
.tab_container { }

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	width: 100%;
}

	ul.tabs li 
	{
		float: left;
		margin: 0;
		padding: 0;
		height: 31px;
		line-height: 31px;
		border: 1px solid #CCC;
		border-left: none;
		margin-bottom: -1px;
		background: #e0e0e0 url(../img/accordion_header.png) repeat-x top right;
		overflow: hidden;
		position: relative;
	}
	
		ul.tabs li a 
		{
			text-decoration: none;
			color: #263849;
			display: block;
			font-size: 1.2em;
			padding: 0 20px;
			border: 1px solid #fff;
			outline: none;
		}
		
			ul.tabs li a:hover { background: #ccc; }	
			ul.tabs li.active, ul.tabs li.active a:hover  { background: #fff; border-bottom: 1px solid #fff; }

.tab_content_container 
{
	border: 1px solid #CCC;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
	.tab_content { font-size: 1.2em; padding: 20px 20px 10px; }
	
	
	
	
/* -------------------------------------------------------------- 
   Accordion
-------------------------------------------------------------- */
h2.accordion_panel 
{
	background: url(../img/accordion_header.png) no-repeat;
	width: 100%;
	height: 36px;	
	font-size: 16px;
	font-weight: normal;
	line-height: 36px;
	padding: 0;	
	margin: 0 0 .5em 0;	
	border: 1px solid #C5C5C5;
	
	cursor: pointer;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

	h2.accordion_panel a 
	{
		color: #263849;
		text-decoration: none;
		padding: 0 0 0 50px;
	}
	
		h2.active {background-position: left bottom; border-color: #131C24; }	
			h2.active a { color: #FFF; }
			
.accordion_content 
{
	width: 100%;
	font-size: 1.2em;
	padding: 0;
	margin: 1em 0 5px;
	overflow: hidden;
	clear: both;
}