<!-- app(index.menu_lateral) -->
<div id="menu_lateral">
    <p class="menu_lateral">Menu</p>
    <ul>
        <li><a href="index.html" class="tag-home">Início</a></li>
        <!-- each($(menu_lateral)) menu_lateral -->
        <li><a href="index.html?tag=$menu_lateral(tag)" class="tag-$menu_lateral(tag)">$menu_lateral(nome)</a></li>
        <!-- end(menu_lateral) -->
        <li><a href="index.html?content=participantes" class="tag-enquetes">Participantes</a></li>
        <li><a href="index.html?content=enquetes" class="tag-enquetes">Enquetes</a></li>
        <li><a href="index.html?content=chat" class="tag-chat">Chat</a></li>
        <li><a href="index.html?content=tv" class="tag-tv">TV</a></li>
        <li><a href="index.html?content=regulamento" class="tag-regulamento">Regulamento</a></li>
        <li><a href="index.html?content=sobre" class="tag-sobre">Sobre</a></li>
        <li><a href="index.html?content=contato" class="tag-contato">Fale Conosco</a></li>
    </ul>
    <br clear="all" />
</div>