<!-- app(index.menu) -->
<ul>
    <li><a href="index.html" class="tag-home">Início</a></li>
    <!-- each($(menu)) menu -->
    <li><a href="index.html?tag=$menu(tag)" class="tag-$menu(tag)">$menu(nome)</a></li>
    <!-- end(menu) -->
    <li><a href="index.html?content=enquetes" class="tag-enquetes">Enquetes</a></li>
    <li><a href="index.html?content=chat" class="tag-chat">Chat</a></li>
    <li><a href="index.html?content=tv" class="tag-tv">TV</a></li>
    <li><a href="index.html?content=regulamento" class="tag-regulamento">Regulamento</a></li>
</ul>
<div class="search">
    <form action="index.html" method="get">
        <fieldset>
            <input name="tag" type="text" onfocus="if(this.value=='Pesquisar...') {this.value='';this.style.color='#000000';}" value='Pesquisar...' onblur="javascript:if(this.value=='')this.value='Pesquisar...'" />
            <input type="submit" />
        </fieldset>
    </form>
</div>