<!-- app(index.popular) -->
<div id="popular">
    <p class="popular">Os mais vistos</p>
    <ul>
        <!-- each($(popular)) popular -->
        <li><a href="index.html?content=postagem&id=$popular(id)">$popular(titulo)</a></li>
        <!-- end(popular) -->
    </ul>
    <br clear="all" />
</div>