<!-- app(index.parceiros) -->
<div id="sites">
    <p class="sites">Parceiros</p>
    <ul>
        <!-- each($(parceiros)) parceiros -->
        <li><a href="$parceiros(site)" target="_blank">$parceiros(nome)</a></li>
        <!-- end(parceiros) -->
    </ul>
    <br clear="all" />
</div>