<!-- app(index.slider) -->
<!-- if ($(slider) != "") slider_show -->
<div class="slider-wrap">
    <div id="ribbon">&nbsp;</div>
    <div id="main-photo-slider" class="csw">
        <div class="panelContainer">
            <!-- each($(slider)) slider -->
            <div class="panel" title="Panel $slider(id)">
                <div class="wrapper">
                    <a href="index.html?content=postagem&id=$slider(id)"><img src="$slider(destaque)" alt="temp" /></a>
                    <div class="photo-meta-data">
                        <span>$slider(titulo)</span>
                    </div>
                </div>
            </div>
            <!-- end(slider) -->
        </div>
    </div>
</div>
<!-- end(slider_show) -->