<!-- app(admin.edita_tag) -->
<form action="" method="post" class="form label-inline">
    <div class="portlet x9">
        <div class="portlet-header"><h4>Seções</h4></div>
        <div class="portlet-content">
            <!-- if ($(mensagem) != "") mensagem -->
            <div id="search-bar">
                <h3><!-- $html(mensagem) --></h3>
            </div>
            <!-- end(mensagem) -->
            <br clear="all" />
            <div class="field"><label for="nome">Nome </label> <input id="nome" maxlength="255" name="nome" type="text" class="medium" value="<!-- $(nome) -->" /></div>
            <div class="field">
                <label for="tags_id">Exibição </label>
                <select id="destaque" name="destaque">
                    <option value="0">Exibir somente no menu vertical</option>
                    <option value="1">Exibir no menu vertical e nas barras horizontais</option>
                </select>
            </div>	
            <div class="buttonrow">
                <button class="btn btn-grey" type="submit" name="submit">Salvar</button>
                <button class="btn btn-grey" type="reset" onclick="slate.open('painel.html?content=tags');">Cancelar</button>
                <!-- if ($(id) != "") rem_btn -->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-red" type="reset" onclick="slate.open('painel.html?content=tags/remover&id=<!-- $(id) -->');">Remover</button>
                <!-- end(rem_btn) -->
            </div>
        </div>
    </div>
    <div class="portlet x3">
        <div class="portlet-header"><h4>Observação</h4></div>
        <div class="portlet-content">
            <p>Todos os campos ao lado são obrigatórios!</p>
        </div>
    </div>
</form>
<script type="text/javascript">
    setTimeout(function() {
        $("#search-bar").fadeOut();
    }, 3000);
    $("#destaque").val("<!-- $(destaque) -->");
</script>