<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <!-- app(index.cabecalho) -->
    <!-- app(index.rss) -->
    <channel>
        <title><![CDATA[<!-- $(pagina_titulo) -->]]></title>
        <description><![CDATA[<!-- $html(pagina_descricao) -->]]></description>
        <link>http://www.gamematchpoint.com.br/</link>
        <language>pt-br</language>
        <!-- each($(rss)) post -->
        <item>
            <title><![CDATA[$post!(titulo)]]></title>
            <link><![CDATA[http://www.gamematchpoint.com.br/index.html?content=postagem&id=$post(id)]]></link>
            <description><![CDATA[$post!(descricao)]]></description>
            <category><![CDATA[$post(tags_nome)]]></category>
            <pubDate>$post(datacadastro)</pubDate>
        </item>
        <!-- end(post) -->
    </channel>
</rss>