<!-- app(admin.dashboard) -->
<div class="portlet x3" style="min-height: 300px;">
    <div class="portlet-header">
        <h4>Resumo</h4>
    </div>
    <div class="portlet-content">
        <table cellspacing="0" class="info_table">
            <tbody>
                <tr>
                    <td class="value"><!-- $(total_postagens) --></td>
                    <td class="full">Postagens</td>
                </tr>
                <tr>
                    <td class="value"><!-- $(total_comentarios) --></td>
                    <td class="full">Comentários</td>
                </tr>
                <tr>
                    <td class="value"><!-- $(total_comentarios_moderados) --></td>
                    <td class="full">Comentários Moderados</td>
                </tr>
                <tr>
                    <td class="value"><!-- $(total_enquetes) --></td>
                    <td class="full">Enquetes</td>
                </tr>
                <tr>
                    <td class="value"><!-- $(total_enquetes_respondidas) --></td>
                    <td class="full">Respostas</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="dash_chart" class="portlet x9">
    <div class="portlet-header">
        <h4>Comentários</h4>
    </div>
    <div class="portlet-content">
        <table cellspacing="0" class="inbox_table">
            <tbody>
                <!-- each($(comentarios)) comentarios -->
                <tr>
                    <td class="avatar"><img src="$comentarios(avatar)" width="55" alt="avatar" class="avatar_img" /></td>
                    <td class="full"><a href="painel.html?content=comentarios/editar&id=$comentarios(id)">$comentarios(nome)</a><br />$comentarios(texto)</td>
                    <td class="who">$comentarios(ip) | $comentarios(datacadastro)</td>
                </tr>
                <!-- end(comentarios) -->
            </tbody>
        </table>
    </div>
</div>