<div class="portlet x12">
    <div class="portlet-header"><h4>Participantess</h4></div>
    <div class="portlet-content">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="participantes">
            <thead>
                <tr>
                    <th style="width: 10%;"></th>
                    <th>Nome</th>
                    <th style="width: 25%;">CPF</th>
                </tr>
            </thead>
        </table>
        <br clear="all" />
        <div class="buttonrow">
            <button class="btn btn-green" type="button" onclick="slate.open('painel.html?content=participantes/editar');">Cadastrar</button>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    $(function () {
        slate.table ("#participantes", "xhr/participantes.php", "painel.html?content=participantes/editar&id=", true, true);
    });
</script>