<div class="portlet x12">
    <div class="portlet-header"><h4>Conteúdo</h4></div>
    <div class="portlet-content">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="postagens">
            <thead>
                <tr>
                    <th style="width: 10%;"></th>
                    <th>Título</th>
                    <th style="width: 20%;">Autor</th>
                    <th style="width: 20%;">Usuário</th>
                </tr>
            </thead>
        </table>
        <br clear="all" />
        <div class="buttonrow">
            <button class="btn btn-green" type="button" onclick="slate.open('painel.html?content=postagens/editar');">Cadastrar</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        slate.table ("#postagens", "xhr/postagens.php", "painel.html?content=postagens/editar&id=");
    });
</script>