<!-- app(admin.edita_participante) -->
<form action="" method="post" class="form label-inline" enctype="multipart/form-data">
    <div class="portlet x9">
        <div class="portlet-header"><h4>Participantes</h4></div>
        <div class="portlet-content">
            <!-- if ($(mensagem) != "") mensagem -->
            <div id="search-bar">
                <h3><!-- $html(mensagem) --></h3>
            </div>
            <!-- end(mensagem) -->
            <br clear="all" />

            <div class="field">
                <label for="nome">Nome Completo </label> 
                <input id="nome" maxlength="255" name="nome" type="text" class="large" value="<!-- $(nome) -->" />
            </div>

            <div class="field">
                <label for="cpf">CPF </label> 
                <input id="cpf" maxlength="15" name="cpf" type="text" class="small" value="<!-- $(cpf) -->" alt="cpf" />
            </div>

            <div class="field">
                <label for="data_nascimento">Data de Nascimento </label> 
                <input id="data_nascimento" maxlength="10" name="data_nascimento" type="text" class="small" value="<!-- $(data_nascimento_br) -->" alt="date" />
            </div>

            <div class="field">
                <label for="telefone">Telefone </label> 
                <input id="telefone" maxlength="10" name="telefone" type="text" class="small" value="<!-- $(telefone) -->" alt="phone" />
            </div>

            <div class="field">
                <label for="celular">Telefone Celular </label> 
                <input id="celular" maxlength="10" name="celular" type="text" class="small" value="<!-- $(celular) -->" alt="phone" />
            </div>

            <div class="field">
                <label for="celular_operadora">Operadora </label> 
                <input id="celular_operadora" maxlength="30" name="celular_operadora" type="text" class="small" value="<!-- $(celular_operadora) -->" />
            </div>

            <div class="field">
                <label for="email">E-mail </label> 
                <input id="email" maxlength="50" name="email" type="text" class="medium" value="<!-- $(email) -->" />
            </div>




            <div class="field">
                <label for="logradouro">Logradouro </label> 
                <input id="logradouro" maxlength="255" name="logradouro" type="text" class="large" value="<!-- $(logradouro) -->" />
            </div>

            <div class="field">
                <label for="complemento">Complemento </label> 
                <input id="complemento" maxlength="50" name="complemento" type="text" class="medium" value="<!-- $(complemento) -->" />
            </div>

            <div class="field">
                <label for="cep">CEP </label> 
                <input id="cep" maxlength="9" name="cep" type="text" class="small" value="<!-- $(cep) -->" alt="cep" />
            </div>

            <div class="field">
                <label for="bairro">Bairro </label> 
                <input id="bairro" maxlength="255" name="bairro" type="text" class="medium" value="<!-- $(bairro) -->" />
            </div>

            <div class="field">
                <label for="cidade">Cidade </label> 
                <input id="cidade" maxlength="255" name="cidade" type="text" class="medium" value="<!-- $(cidade) -->" />
            </div>

            <div class="field">
                <label for="uf">Estado </label> 
                <input id="uf" maxlength="2" name="uf" type="text" class="xsmall" value="<!-- $(uf) -->" />
            </div>

            <div class="field">
                <label for="clube_masculino">Melhor clube brasileiro (masculino)</label>
                <input id="clube_masculino" maxlength="255" name="clube_masculino" type="text" class="medium" value="<!-- $(clube_masculino) -->" />
            </div>

            <div class="field">
                <label for="clube_feminino">Melhor clube brasileiro (feminino)</label>
                <input id="clube_feminino" maxlength="255" name="clube_feminino" type="text" class="small" value="<!-- $(clube_feminino) -->" />
            </div>

            <div class="field">
                <label for="jogador_masculino">Melhor jogador de vôlei</label>
                <input id="jogador_masculino" maxlength="255" name="jogador_masculino" type="text" class="small" value="<!-- $(jogador_masculino) -->" />
            </div>

            <div class="field">
                <label for="jogador_feminino">Melhor jogadora de vôlei</label>
                <input id="jogador_feminino" maxlength="255" name="jogador_feminino" type="text" class="small" value="<!-- $(jogador_feminino) -->" />
            </div>

            <div class="field">
                <label for="jogo_inesquecivel">Um jogo inesquecível</label>
                <input id="jogo_inesquecivel" maxlength="255" name="jogo_inesquecivel" type="text" class="medium" value="<!-- $(jogo_inesquecivel) -->" />
            </div>

            <div class="field">
                <label for="voleibol_vida">O que o voleibol trouxe/trás na sua vida? </label> 
                <textarea rows="7" cols="50" name="voleibol_vida"><!-- $(voleibol_vida) --></textarea>
            </div>

            <div class="field">
                <label for="vale_vencer">O que vale para vencer o Match Point? </label> 
                <textarea rows="7" cols="50" name="vale_vencer"><!-- $(vale_vencer) --></textarea>
            </div>

            <div class="field">
                <label for="nao_vale_vencer">O que não vale para vencer o Match Point? </label> 
                <textarea rows="7" cols="50" name="nao_vale_vencer"><!-- $(nao_vale_vencer) --></textarea>
            </div>

            <div class="field">
                <label for="e_popular">Você se considera uma pessoa popular? Por que? </label> 
                <textarea rows="7" cols="50" name="e_popular"><!-- $(e_popular) --></textarea>
            </div>

            <div class="field">
                <label for="mais_importante">O que é mais importante em um virtuality show: Fazer amigos ou vencer o jogo? </label> 
                <textarea rows="7" cols="50" name="mais_importante"><!-- $(mais_importante) --></textarea>
            </div>

            <div class="field">
                <label for="link_youtube">Código Youtube?</label> 
                <textarea rows="7" cols="50" name="link_youtube"><!-- $(link_youtube) --></textarea>
            </div>

            <div class="field">
                <label for="link_facebook">Link Facebook</label>
                <input id="link_facebook" maxlength="255" name="link_facebook" type="text" class="large" value="<!-- $(link_facebook) -->" />
            </div>

            <div class="field clearfix">								
                <label for="avatar">Foto </label> 								
                <input style="opacity: 0;" size="19" class="file" type="file" name="avatar" id="avatar" />								
            </div>

            <!-- if ($(foto) != "") foto -->
            <div class="field clearfix">						
                <label for="foto">Foto Atual </label>
                <img src="../avatar/?tipo=participante&id=<!-- $(id) -->" alt="Imagem de Exibição" />
            </div>
            <!-- end(foto) -->

            <!--
            <div class="controlset field">
                <span class="label">Participando (jogador oficial) </span>
                <div class="controlset-pad">
                    <input name="confirmado" id="confirmado" value="confirmado" type="checkbox" /> <label for="confirmado">Sim</label><br />
                </div>
            </div>
            -->

            <div class="buttonrow">
                <button class="btn btn-grey" type="submit" name="submit">Salvar</button>
                <button class="btn btn-grey" type="reset" onclick="slate.open('painel.html?content=participantes');">Cancelar</button>
                <!-- if ($(id) != "") rem_btn -->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-red" type="reset" onclick="slate.open('painel.html?content=participantes/remover&id=<!-- $(id) -->');">Remover</button>
                <!-- end(rem_btn) -->
            </div>
        </div>
    </div>
    <div class="portlet x3">
        <div class="portlet-header"><h4>Observação</h4></div>
        <div class="portlet-content">
            <p>Todos os campos ao lado são obrigatórios!</p>
        </div>
    </div>
</form>
<script type="text/javascript">
    setTimeout(function() {
        $("#search-bar").fadeOut();
    }, 3000);
</script>