<!-- app(admin.remove_participante) -->
<form action="" method="post" class="form label-inline">
    <div class="portlet x12">
        <div class="portlet-header"><h4>Participantes</h4></div>
        <div class="portlet-content">
            <!-- if ($(mensagem) != "") mensagem -->
            <div id="search-bar">
                <h3><!-- $html(mensagem) --></h3>
            </div>
            <!-- end(mensagem) -->
            <br clear="all" />
            <h2>Deseja realmente remover esta participante?</h2>
            <div class="field"><label for="nome">Nome </label> <!-- $(nome) --></div>
            <div class="field"><label for="cpf">CPF </label> <!-- $(cpf) --></div>
            <div class="field"><label for="data_nascimento">Data de Nascimento </label> <!-- $(data_nascimento_br) --></div>
            
            <!-- if ($(foto) != "") foto -->
            <div class="field clearfix">						
                <label for="foto">Foto Atual </label>
                <img src="../avatar/?tipo=participante&id=<!-- $(id) -->" alt="Imagem de Exibição" />
            </div>
            <!-- end(foto) -->
            
            <div class="buttonrow">
                <button class="btn btn-grey" type="submit" name="submit">Remover</button>
                <button class="btn btn-grey" type="reset" onclick="slate.open('painel.html?content=participantes');">Cancelar</button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    setTimeout(function() {
        $("#search-bar").fadeOut();
    }, 3000);
</script>