<!-- app(admin.remove_comentario) -->
<form action="" method="post" class="form label-inline">
    <div class="portlet x12">
        <div class="portlet-header"><h4>Comentários</h4></div>
        <div class="portlet-content">
            <!-- if ($(mensagem) != "") mensagem -->
            <div id="search-bar">
                <h3><!-- $html(mensagem) --></h3>
            </div>
            <!-- end(mensagem) -->
            <br clear="all" />
            <h2>Deseja realmente remover este comentario?</h2>
            <div class="field"><label for="nome">Nome </label> <!-- $(nome) --></div>
            <div class="field"><label for="email">E-mail </label> <!-- $(email) --></div>
            <div class="field"><label for="texto">Texto </label> <!-- $(texto) --></div>
            <div class="buttonrow">
                <button class="btn btn-grey" type="submit" name="submit">Remover</button>
                <button class="btn btn-grey" type="reset" onclick="slate.open('painel.html?content=comentarios');">Cancelar</button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    setTimeout(function() {
        $("#search-bar").fadeOut();
    }, 3000);
</script>