.mcePageBreak {
    display:block;
    border:0;
    width:100%;
    height:12px;
    border-top:1px dotted #ccc;
    margin-top:15px;
    background:#fff url(../img/pagebreak.gif) no-repeat center top;
}