<!-- app(admin.edita_postagem) -->
<form action="" method="post" class="form label-inline">
    <div class="portlet x12">
        <div class="portlet-header"><h4>Conteúdo</h4></div>
        <div class="portlet-content">
            <!-- if ($(mensagem) != "") mensagem -->
            <div id="search-bar">
                <h3><!-- $html(mensagem) --></h3>
            </div>
            <!-- end(mensagem) -->
            <br clear="all" />
            <div class="field"><label for="titulo">Título </label> <input id="titulo" maxlength="255" name="titulo" type="text" class="xlarge" value="<!-- $(titulo) -->" /></div>
            <div class="field">
                <label for="tags_id">Seção </label>
                <select id="tags_id" name="tags_id">
                    <!-- each ($(tags)) tags -->
                    <option value="$tags(id)">$tags(nome)</option>
                    <!-- end(tags) -->
                </select>
            </div>
            <div class="field">
                <label for="texto">Texto </label>
                <textarea rows="30" name="texto" class="xlarge"><!-- $(texto) --></textarea>
            </div>
            <div class="field"><label for="palavraschaves">Palavras Chaves </label> <input id="palavraschaves" maxlength="255" name="palavraschaves" type="text" class="xlarge" value="<!-- $(palavraschaves) -->" /></div>
            <div class="field"><label for="autor">Autor </label> <input id="autor" maxlength="255" name="autor" type="text" class="medium" value="<!-- $(autor) -->" /></div>
            <div class="field">
                <label for="fontes_id">Fonte </label>
                <select id="fontes_id" name="fontes_id">
                    <!-- each ($(fontes)) fontes -->
                    <option value="$fontes(id)">$fontes(nome)</option>
                    <!-- end(fontes) -->
                </select>
            </div>
            <div class="buttonrow">
                <button class="btn btn-grey" type="submit" name="submit">Salvar</button>
                <button class="btn btn-grey" type="reset" onclick="slate.open('painel.html?content=postagens');">Cancelar</button>
                <!-- if ($(id) != "") rem_btn -->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-red" type="reset" onclick="slate.open('painel.html?content=postagens/remover&id=<!-- $(id) -->');">Remover</button>
                <!-- end(rem_btn) -->
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    setTimeout(function() {
        $("#search-bar").fadeOut();
    }, 3000);
    $("#fontes_id").val("<!-- $(fontes_id) -->");
</script>