<!-- app(admin.remove_postagem) -->
<form action="" method="post" class="form label-inline">
    <div class="portlet x12">
        <div class="portlet-header"><h4>Conteúdo</h4></div>
        <div class="portlet-content">
            <!-- if ($(mensagem) != "") mensagem -->
            <div id="search-bar">
                <h3><!-- $html(mensagem) --></h3>
            </div>
            <!-- end(mensagem) -->
            <br clear="all" />
            <h2>Deseja realmente remover este conteúdo?</h2>
            <div class="field"><label for="nome">Nome </label> <!-- $(nome) --></div>
            <div class="field"><label for="tags_id">Tag </label> <!-- $(tags_nome) --></div>
            <div class="field"><label for="palavraschaves">Palavras Chaves </label> <!-- $(palavraschaves) --></div>
            <div class="field"><label for="autor">Autor </label> <!-- $(autor) --></div>
            <div class="field"><label for="fontes_id">Fonte </label> <!-- $(fontes_nome) --></div>
            <div class="buttonrow">
                <button class="btn btn-grey" type="submit" name="submit">Remover</button>
                <button class="btn btn-grey" type="reset" onclick="slate.open('painel.html?content=postagens');">Cancelar</button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    setTimeout(function() {
        $("#search-bar").fadeOut();
    }, 3000);
</script>