<div class="post">
    <p class="abouttitle">Chat (BETA)</p>
    <!-- if (^(chat.ultimo_id) == "") chat_ativo -->
    <form action="" method="post" id="contactform">
        <fieldset>
            <!-- if ($(moderado) == "sim") moderado -->
            <p>
                <label class="comauthor">Apelido:</label>
                <br />
                <input type="text" name="apelido" id="apelido" value="<!-- $(apelido) -->" />
                <br />
            </p>
            <p>
                <label class="comauthor">Senha:</label>
                <br />
                <input type="password" name="senha" id="senha" />
                <br />
            </p>
            <br />
            <input type="hidden" value="<!-- $(sala) -->" name="sala" id="sala" />
            <input type="submit" value="Entrar" name="submit" id="submit" />
            <!-- else(moderado) -->
            <p>
                <label class="comauthor">Apelido:</label>
                <br />
                <input type="text" name="apelido" id="apelido" />
                <br />
            </p>
            <p>
                <label class="salas">Escolha sua sala:</label>
                <br />
            </p>
            <!-- each($(salas)) opcoes_salas -->
            <p>
                <label for="opcao_$opcoes_salas(id)"> <input type="radio" name="sala" id="opcao_$opcoes_salas(id)" value="$opcoes_salas(id)" /> $opcoes_salas(nome)</label>
            </p>
            <!-- end(opcoes_salas) -->
            <br />
            <br />
            <script type="text/javascript">
                var RecaptchaOptions = {
                    custom_translations : {
                        instructions_visual : "Escreva as duas palavras:",
                        instructions_audio : "Transcreva o que você ouviu:",
                        play_again : "Reproduzir a faixa de áudio",
                        cant_hear_this : "Baixar a faixa em formato MP3",
                        visual_challenge : "Modo texto",
                        audio_challenge : "Modo audio",
                        refresh_btn : "Obter duas novas palavras",
                        help_btn : "Ajuda",
                        incorrect_try_again : "Incorreta. Por favor, tente novamente."
                    },
                    lang : 'pt', // Unavailable while writing this code (just for audio challenge)
                    theme : 'clean' // Make sure there is no trailing ',' at the end of the RecaptchaOptions dictionary
                };
            </script>
            <!-- $html(recaptcha) -->
            <br />
            <input type="submit" value="Entrar" name="submit" id="submit" />
            <!-- end(moderado) -->
        </fieldset>
    </form>
    <!-- else(chat_ativo) -->
    <!-- app(chat.entrar) -->
    <style type="text/css">
        #service {
            display: none;
        }
        #users {
            width: 150px;
            height: 400px;
            overflow: auto;
            padding: 5px;
            float: right;
            border: solid 1px black;
        }
        #users .moderador {
            color: #ff0000;
        }
        #users .soumoderador, #users .soueu {
            font-weight: bold;
        }
        #users .kill {
            float:right;
        }
        #users .line:hover {
            background-color: #EFEFEF;
        }
        #board {
            width: 420px;
            height: 400px;
            overflow: auto;
            padding: 5px;
            border: solid 1px black;
        }
        #board div {
            padding: 2px;
        }
        #board div span {
            padding: 2px;
        }
        #board .inicio {
            color: #999;
        }
        #board .moderador {
            color: #ff0000;
        }
        #board .sistema {
            color: #ff0000;
        }
        #caixatexto {
            float: left;
            padding-right: 10px;
            padding-left: 60px;
        }
        #botaoenviar {
            float: left;
        }
    </style>
    <script type="text/javascript">
        function limparTexto() {
            document.getElementById("texto").value = document.getElementById("textoOf").value;
            document.getElementById("textoOf").value = "";
        }
        function refreshService() {
            $.ajax({
                url: "batepapo/service.html",
                cache: false,
                success: function(data){
                    $("#service").html(data);
                    $("#board").append($("#service_board").html());
                    $("#users").html($("#service_users").html());
                    $("#service").empty();
                    document.getElementById('board').scrollTop = document.getElementById('board').scrollHeight;
                    setTimeout(function() {
                        refreshService();
                    }, 1000);
                }
            });
        }
        function kill(id) {
            enviar.document.location.href='batepapo/processar.html?kill=' + id;
        }
    </script>
    <div>
        Olá <b><!-- $(apelido) --></b>, <a href="batepapo/sair.html"> deseja sair?</a>
    </div>
    <form action="batepapo/processar.html" method="post" target="enviar" onsubmit="limparTexto();" id="contactform">
        <div id="users"></div>
        <div id="board">
            <div id="linha_0">
                <span class="inicio"><b><!-- $(apelido) --></b>: Seja bem-vindo a sala <!-- $(sala_nome) -->!</span>
            </div>
            <hr />
        </div>
        <br clear="all" />
        <!-- if ($(exibe_caixa) == "1") exibe_caixa -->
        <div id="caixatexto">
            <input type="text" name="textoOf" id="textoOf" maxlength="200" />
        </div>
        <div id="botaoenviar">
            <input type="submit" value="Enviar" name="submit" id="submit" />
        </div>
        <br clear="all" />
        <!-- end(exibe_caixa) -->
        <input type="hidden" name="texto" id="texto">
        <iframe name="enviar" src="batepapo/processar.html" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="0px" height="0px" style="z-index: 1;"></iframe>
        <div id="service"></div>
        <script type="text/javascript">
            $(function(){
                refreshService();
            });
        </script>
    </form>
    <!-- end(chat_ativo) -->
    <div id="sharebox">
        <p class="title">Gostou? Então, por favor, compartilhe!</p>
        <div class="sharebuttons">
            <div class="social">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.gamematchpoint.com.br/index.html?content=chat" data-text="<!-- $(questao) --> - Vote!" data-via="gamematchpoint" data-lang="pt">Tweetar</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                <g:plusone size="medium" callback="plusone_vote" href="http://www.gamematchpoint.com.br/index.html?content=chat"></g:plusone>
                <iframe id="facebook_like_widget" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.gamematchpoint.com.br%2Fdev%2Findex.html%3Fcontent%3Dchat&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=20" scrolling="no" frameborder="0" style="border:none; width:100px; height:20px;" allowTransparency="true"></iframe>
            </div>
        </div>
    </div>
</div>