<!-- app(index.contato) -->
<div class="post">
    <p class="abouttitle">Fale conosco</p>
    <form action="" method="post" id="contactform">
        <fieldset>
            <p>
                <label class="comauthor">Seu nome:</label>
                <br />
                <input type="text" name="name" id="name" />
                <br />
            </p>
            <p>
                <label class="comauthor">Seu e-mail:</label>
                <br />
                <input type="text" name="email" id="email" />
                <br />
            </p>
            <p>
                <label class="comauthor">Mensagem:</label><br />
                <textarea cols="6" rows="10" name="message" id="message"></textarea>
                <br />
            </p>
            <script type="text/javascript">
                var RecaptchaOptions = {
                    custom_translations : {
                        instructions_visual : "Escreva as duas palavras:",
                        instructions_audio : "Transcreva o que você ouviu:",
                        play_again : "Reproduzir a faixa de áudio",
                        cant_hear_this : "Baixar a faixa em formato MP3",
                        visual_challenge : "Modo texto",
                        audio_challenge : "Modo audio",
                        refresh_btn : "Obter duas novas palavras",
                        help_btn : "Ajuda",
                        incorrect_try_again : "Incorreta. Por favor, tente novamente."
                    },
                    lang : 'pt', // Unavailable while writing this code (just for audio challenge)
                    theme : 'clean' // Make sure there is no trailing ',' at the end of the RecaptchaOptions dictionary
                };
            </script>
            <!-- $html(recaptcha) -->
            <br />
            <input type="submit" value="Enviar" name="submit" id="submit" />
        </fieldset>
    </form>
</div>