<!-- app(index.enquetes) -->
<!-- if ($(tag) == "") tag -->
<!-- $html(slider) -->
<!-- end(tag) -->
<!-- if ($(enquetes) != "") check_enquetes -->
<br />
<!-- each($(enquetes)) post -->
<div class="post">
    <p class="arrow">&rarr;</p>
    <a href="index.html?content=enquete&id=$post(id)" class="title">$post(questao)</a>
</div>
<!-- end(post) -->
<!-- if ($(pagination) != "") check_pagination -->
<div class="articles-nav">
    <ul class="pages">
        <!-- each($(pagination)) pagination -->
        <li><a href="index.html?page=$pagination()&tag=<!-- $(tag) -->">$pagination()</a></li>
        <!-- end(pagination) -->
    </ul>
    <ul class="flip">
        <!-- if ($(previous_page) != "") previous_page -->
        <li class="prev"><a href="index.html?page=<!-- $(previous_page) -->&tag=<!-- $(tag) -->">&laquo; Anterior</a></li>
        <!-- end(previous_page) -->
        <!-- if ($(next_page) != "") next_page -->
        <li class="next"><a href="index.html?page=<!-- $(next_page) -->&tag=<!-- $(tag) -->">Próximo &raquo;</a></li>
        <!-- end(next_page) -->
    </ul>
</div>
<!-- end(check_pagination) -->
<!-- else(check_enquetes) -->
<div class="post">
    <blockquote><p>Não foi encontrado nenhuma enquete.</p></blockquote>
</div>
<!-- end(check_enquetes) -->