<div class="post">
    <p class="abouttitle">Enquete</p>
    <form action="" method="post" id="contactform">
        <fieldset>
            <p>
                <label class="comauthor"><!-- $(questao) --></label>
            </p>
            <div id="post" style="margin: 0px 40px;">
                <!-- if ($(tipo) == "RADIO") enquete_opcoes_tipo -->
                <!-- each($(opcoes)) opcoes_radio -->
                <p>
                    <label for="opcao_$opcoes_radio(id)"> <input type="radio" name="opcao" id="opcao_$opcoes_radio(id)" value="$opcoes_radio(id)" /> &rarr; $opcoes_radio(opcao)</label>
                </p>
                <!-- end(opcoes_radio) -->
                <!-- else(enquete_opcoes_tipo) -->
                <!-- each($(opcoes)) opcoes_check -->
                <p>
                    <label for="opcao_$opcoes_check(id)"> <input type="checkbox" name="opcao[]" id="opcao_$opcoes_check(id)" value="$opcoes_check(id)" /> &rarr; $opcoes_check(opcao)</label>
                </p>
                <!-- end(opcoes_check) -->
                <!-- end(enquete_opcoes_tipo) -->
                <br clear="all" />
            </div>
            <script type="text/javascript">
                var RecaptchaOptions = {
                    custom_translations : {
                        instructions_visual : "Escreva as duas palavras:",
                        instructions_audio : "Transcreva o que você ouviu:",
                        play_again : "Reproduzir a faixa de áudio",
                        cant_hear_this : "Baixar a faixa em formato MP3",
                        visual_challenge : "Modo texto",
                        audio_challenge : "Modo audio",
                        refresh_btn : "Obter duas novas palavras",
                        help_btn : "Ajuda",
                        incorrect_try_again : "Incorreta. Por favor, tente novamente."
                    },
                    lang : 'pt', // Unavailable while writing this code (just for audio challenge)
                    theme : 'clean' // Make sure there is no trailing ',' at the end of the RecaptchaOptions dictionary
                };
            </script>
            <!-- $html(recaptcha) -->
            <br />
            <input type="submit" value="Votar" name="submit" id="submit" />
        </fieldset>
    </form>
    <div id="sharebox">
        <p class="title">Gostou? Então, por favor, compartilhe!</p>
        <div class="sharebuttons">
            <div class="social">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.gamematchpoint.com.br/index.html?content=enquete&amp;id=<!-- $(id) -->" data-text="<!-- $(questao) --> - Vote!" data-via="gamematchpoint" data-lang="pt">Tweetar</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                <g:plusone size="medium" callback="plusone_vote" href="http://www.gamematchpoint.com.br/index.html?content=enquete&id=<!-- $(id) -->"></g:plusone>
                <iframe id="facebook_like_widget" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.gamematchpoint.com.br%2Fdev%2Findex.html%3Fcontent%3Denquete%26id%3D<!-- $(id) -->&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=20" scrolling="no" frameborder="0" style="border:none; width:100px; height:20px;" allowTransparency="true"></iframe>
            </div>
        </div>
    </div>
</div>