<!-- app(index.participantes) -->
<!-- if ($(tag) == "") tag -->
<!-- $html(slider) -->
<!-- end(tag) -->
<!-- if ($(participantes) != "") check_participantes -->
<br />
<div class="post">
    <div id="comments">
        <p class="title">Participantes</p>
        <ol>
            <!-- each($(participantes)) participante -->
            <li>
                <a href="index.html?content=participante&id=$participante(id)"><img src="avatar/?tipo=participante&id=$participante(id)" alt="" class="avatar" /></a>
                <p class="cred"><a href="index.html?content=participante&id=$participante(id)">$participante(nome)</a></p>
                <p>
                    <b>Idade: </b>$participante(idade).<br />
                    <b>Reside em:</b> $participante(cidade), $participante(uf).
                </p>
            </li>
            <!-- end(participante) -->
        </ol>
    </div>
</div>
<!-- else(check_participantes) -->
<div class="post">
    <blockquote><p>Não foi encontrado nenhum participante.</p></blockquote>
</div>
<!-- end(check_participantes) -->