<div class="post">
    <span style="float: right; padding: 15px; padding-top: 0px;"><img src="avatar/?tipo=participante&id=<!-- $(id) -->" alt="" class="avatar" /></span>
    <p class="abouttitle">Biografia</p>
    <p><b>Nome:</b> <!-- $(nome) -->. (<a href="<!-- $html(link_facebook) -->" target="_blank">ver meu perfil no <b>Facebook</b></a>)</p>
    <p><b>Idade:</b> <!-- $(idade) -->.</p>
    <p><b>Reside em:</b> <!-- $(cidade) -->, <!-- $(uf) -->.</p>
    <p><b>Melhor clube brasileiro (masculino):</b> <!-- $(clube_masculino) -->.</p>
    <p><b>Melhor clube brasileiro (feminino):</b> <!-- $(clube_feminino) -->.</p>
    <p><b>Melhor jogador de vôlei:</b> <!-- $(jogador_masculino) -->.</p>
    <p><b>Melhor jogadora de vôlei:</b> <!-- $(jogador_feminino) -->.</p>
    <p><b>Um jogo inesquecível:</b> <!-- $(jogo_inesquecivel) -->.</p>
    <br />
    <p class="abouttitle">Pré-entrevista</p>
    <p><b>O que o voleibol trouxe/trás na sua vida?</b><br /><!-- $(voleibol_vida) -->.</p>
    <br />
    <p><b>O que vale para vencer o Match Point?</b><br /><!-- $(vale_vencer) -->.</p>
    <br />
    <p><b>O que não vale para vencer o Match Point?</b><br /><!-- $(nao_vale_vencer) -->.</p>
    <br />
    <p><b>Você se considera uma pessoa popular? Por que?</b><br /><!-- $(e_popular) -->.</p>
    <br />
    <p><b>O que é mais importante em um virtuality show: Fazer amigos ou vencer o jogo? </b><br /><!-- $(mais_importante) -->.</p>
    <br />
    <p class="abouttitle">Vídeo Entrevista</p>
    <p>
        <!-- $html(link_youtube) -->
    </p>
    <br />
    <br />
    <p class="abouttitle"><a href="index.html?content=participantes">Voltar</a></p>
</div>

<!--

    
Dados pra colocar no perfil:

Fan Page (Link)

Biografia
Nome:
Idade:
Reside em:
Times: 
 Ídolos: 
 Um jogo inesquecível: 

Pré-Entrevista
 O que o voleibol trouxe/trás na sua vida?


 O que vale para vencer o Match Point?


 O que não vale para vencer o Match Point?


 Você se considera uma pessoa popular? Por que?


 O que é mais importante em um virtuality show: Fazer amigos ou vencer o jogo?


Trajetória no Game Match Point 2
00 Vezes Capitão
00 Vezes Líbero
00 Vezes no Banco de Reservas
Eliminado em

Vídeo Entrevista:

-->