<div class="post">
    <a href="index.html?tag=<!-- $(tags_tag) -->" class="category"><!-- $(tags_nome) --></a>
    <p class="arrow">&rarr;</p>
    <a href="index.html?content=postagem&id=<!-- $(id) -->" class="title"><!-- $(titulo) --></a>
    <p class="meta">
        Postado em <!-- $(datacadastro) --><!-- if ($(datacadastro) != $(datamodificado)) dtmodificado -->, atualizado em <!-- $(datamodificado) --><!-- end(dtmodificado) -->.
    </p>
    <br clear="all" />
    <div id="post">
        <!-- $html(texto) -->
        <br clear="all" />
    </div>
    <div id="aboutauthor">
        <!-- if ($(usuarios_avatar) != "") avatar -->
        <div class="authorlogocont"><img src="<!-- $(usuarios_avatar) -->" alt="" class="avatar" /></div>
        <!-- end(avatar) -->
        <div class="authortextcont">
            <p class="authorlogin"><!-- $(usuarios_nome) --></p>
            <!-- if ($(usuarios_nome) != $(autor)) autoria -->
            <p class="aboutauthor">Originalmente publicado por <!-- $(autor) --> (
                <!-- if ($(fontes_fonte) != "") fonte -->
                <a href="<!-- $(fontes_fonte) -->"><!-- $(fontes_nome) --></a>
                <!-- else(fonte) -->
                <!-- $(fontes_nome) -->
                <!-- end(fonte) -->
                )</p>
            <!-- end(autoria) -->
            <br clear="all" />
        </div>
    </div>
    <div id="sharebox">
        <p class="title">Gostou? Então, por favor, compartilhe!</p>
        <div class="sharebuttons">
            <div class="social">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.gamematchpoint.com.br/index.html?content=postagem&amp;id=<!-- $(id) -->" data-text="<!-- $(titulo) -->" data-via="gamematchpoint" data-lang="pt">Tweetar</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                <g:plusone size="medium" callback="plusone_vote" href="http://www.gamematchpoint.com.br/index.html?content=postagem&id=<!-- $(id) -->"></g:plusone>
                <iframe id="facebook_like_widget" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.gamematchpoint.com.br%2Fdev%2Findex.html%3Fcontent%3Dpostagem%26id%3D<!-- $(id) -->&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=20" scrolling="no" frameborder="0" style="border:none; width:100px; height:20px;" allowTransparency="true"></iframe>
            </div>
        </div>
    </div>
    <!-- if ($(comentarios) != "") chk_comentarios -->
    <div id="">
        <p class="title">Comentários</p>
    </div>
    <!-- end(chk_comentarios) -->
    <div id="comments">
        <ol>
            <!-- each($(comentarios)) comentarios -->
            <li>
                <img src="$comentarios(avatar)" alt="" class="avatar" />
                <p class="cred"><span>$comentarios(datacadastro) | $comentarios(nome)</span></p>
                <p>$comentarios(texto)</p>
            </li>
            <!-- end(comentarios) -->
        </ol>
        <p class="title">Comentar!</p>
        <form action="" method="post" id="commentform">
            <p><label for="author">Nome (requerido)</label></p>
            <p><input type="text" name="author" id="author" value="" size="22" tabindex="1" /></p>
            <p><label for="email" title="Se você tiver uma conta no Gravatar, automaticamente sua imagem de exibição irá aparecer aqui. Se você não tiver, acesse www.gravatar.com e cadastre-se!">E-mail (não será publicado) (requerido)</label></p>
            <p><input type="text" name="email" id="email" value="" size="22" tabindex="2" title="Se você tiver uma conta no Gravatar, automaticamente sua imagem de exibição irá aparecer aqui. Se você não tiver, acesse www.gravatar.com e cadastre-se!" /></p>
            <!--
            <p><label for="url">Site</label></p>
            <p><input type="text" name="url" id="url" value="" size="22" tabindex="3" /></p>
            -->
            <p><textarea name="comment" id="comment" cols="100%" rows="10" tabindex="4"></textarea></p>
            <script type="text/javascript">
                var RecaptchaOptions = {
                    custom_translations : {
                        instructions_visual : "Escreva as duas palavras:",
                        instructions_audio : "Transcreva o que você ouviu:",
                        play_again : "Reproduzir a faixa de áudio",
                        cant_hear_this : "Baixar a faixa em formato MP3",
                        visual_challenge : "Modo texto",
                        audio_challenge : "Modo audio",
                        refresh_btn : "Obter duas novas palavras",
                        help_btn : "Ajuda",
                        incorrect_try_again : "Incorreta. Por favor, tente novamente."
                    },
                    lang : 'pt', // Unavailable while writing this code (just for audio challenge)
                    theme : 'clean' // Make sure there is no trailing ',' at the end of the RecaptchaOptions dictionary
                };
            </script>
            <!-- $html(recaptcha) -->
            <br />
            <p><input name="submit" type="submit" id="submit" tabindex="5" value="Publicar" /></p>
        </form>
    </div>
</div>