<div class="post">
    <p class="abouttitle">Regulamento</p>
    <div id="post">
        <ol>
            <li><!-- 1 -->
                Do jogo:
                <ol>
                    <li><!-- 1.1 -->
                        O jogo Game Match Point terá início em 31 de março de 2012 e com encerramento em 08 de julho de 2012.
                    </li>
                    <li><!-- 1.2 -->
                        São dezoito participantes, sendo catorze selecionados pela produção do jogo e quatro participantes divididos em duas enquetes que serão escolhidos mediante votação popular as duas últimas vagas no Game integrando os dezesseis participantes.
                    </li>
                    <li><!-- 1.3 -->
                        Os participantes irão disputar provas durante a semana (vide Dos Eventos) e a cada semana, um participante deixa o jogo (vide Dos Critérios de Eliminação).
                    </li>
                    <li><!-- 1.4 -->
                        O preenchimento da inscrição não garante a participação do inscrito na edição.
                    </li>
                </ol>
            </li>
            <li><!-- 2 -->
                Dos Eventos
                <ol>
                    <li><!-- 2.1 -->
                        Prova do Capitão: Define o capitão do time na semana. O Capitão não pode ser votado pelo restante do grupo para ir ao Banco de Reservas naquela semana e terá de indicar um companheiro para o Banco.
                    </li>
                    <li><!-- 2.2 -->
                        Prova do Líbero: Quem vencer essa prova poderá defender um colega de Game Match Point que não poderá ser votado pelo grupo e nem pelo Capitão.
                    </li>
                    <li><!-- 2.3 -->
                        Banco de Reservas: É o dia em que o Capitão envia um colega de time para disputar a preferência do público. Os outros jogadores irão votar para definir o segundo jogador na preferência popular, respeitando os critérios de imunidade para o capitão e os titulares da semana.
                    </li>
                </ol>
            </li>
            <li><!-- 3 -->
                Dos critérios de Eliminação
                <ol>
                    <li><!-- 3.1 -->
                        Eliminação: Neste dia um (ou mais) jogador (es) deixa (m) o Game Match Point, após votação popular que irá permitir votos:
                        <ol>
                            <li><!-- 3.1.1 -->
                                Via enquete no site do Game Match Point: O público poderá votar quantas vezes quiser nesta enquete, sendo respeitados os verificadores de identidade.
                            </li>
                            <li><!-- 3.1.2 -->
                                Via votação no twitter utilizando o nome do participante a ser eliminado juntamente com a hashtag proposta na semana de eliminação.
                            </li><!-- 3.1.3 -->
                            <li>
                                Via SMS enviando quantos torpedos quiser para os números a serem disponibilizados a cada semana.
                            </li>
                        </ol>
                    </li>
                    <li><!-- 3.2 -->
                        Fraudes na votação: Qualquer tentativa de fraude na votação implicará em eliminação DIRETA do participante envolvido, após a devida investigação do ocorrido.
                    </li>
                </ol>
            </li>
            <li><!-- 4 -->
                Da Participação nos Eventos.
                <ol>
                    <li><!-- 4.1 -->
                        Os participantes têm direito a saber do horário das provas com no mínimo 24
                        horas de antecedência. Infelizmente não é possível adequar ao horário de todos os
                        participantes, mas fica de sobreaviso que a maioria das provas da competição
                        acontece sempre às 21h, sujeito a alterações.
                    </li>
                    <li><!-- 4.2 -->
                        Quando o participante não comparece à prova, ele deixa de concorrer aos
                        brindes e recebe a punição cabível à semana.
                    </li>
                    <li><!-- 4.3 -->
                        As provas poderão ser realizadas nas plataformas:
                        <ol>
                            <li><!-- 4.3.1 -->
                                Facebook
                            </li>
                            <li><!-- 4.3.2 -->
                                Chat do Site do Game Match Point
                            </li>
                            <li><!-- 4.3.3 -->
                                Skype
                            </li>
                            <li><!-- 4.3.4 -->
                                Twitter
                            </li>
                            <li><!-- 4.3.5 -->
                                Messenger ou salas de bate papo previamente informadas aos participantes.
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li><!-- 5 -->
                Da Elegibilidade de Participação .
                <ol>
                    <li><!-- 5.1 -->
                        Podem se inscrever com TOTAL GRATUIDADE para o Game Match Point 2:
                        <ol>
                            <li><!-- 5.1.1 -->
                                Residentes no território brasileiro ou exterior, desde que dominantes da
                                Língua Portuguesa
                            </li>
                            <li><!-- 5.1.2 -->
                                Com idade mínima de 18 anos, ou inferior com a devida autorização assinada
                                pelos pais ou responsáveis, com firma reconhecida em cartório.
                            </li>
                            <li><!-- 5.1.3 -->
                                Pessoas que concordarem e assinarem o contrato de participação no Game
                                Match Point, que não exige pagamento de nenhum tipo de inscrição.
                            </li>
                            <li><!-- 5.1.4 -->
                                Pessoas que curtirem a Fan Page do Game Match Point no Facebook e
                                Seguirem o Game Match Point no Twitter.
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li><!-- 6 -->
                Dos deveres dos participantes:
                <ol>
                    <li><!-- 6.1 -->
                        Possuir uma conta no Facebook, e participar do Grupo Match Point.
                    </li>
                    <li><!-- 6.2 -->
                        Possuir uma conta no Twitter, e seguir @gamematchpoint.
                    </li>
                    <li><!-- 6.3 -->
                        Manter sigilo sobre sua participação na edição corrente até que se inicie o
                        jogo, sob pena de desclassificação.
                    </li>
                </ol>
            </li>
            <li><!-- 7 -->
                Das Premiações:
                <ol>
                    <li><!-- 7.1 -->
                        Da distribuição dos prêmios<br />
                        Primeiro colocado: Notebook LG, tela LCD 14’ com leitor biométrico, 4GB de RAM, Webcam, Bluetooth, HDMI, leitor e gravador de DVD.<br />
                        Segundo colocado: Netbook Semp Toshiba tela LCD 13,3’ 2GB de RAM, Webcam, HDMI.<br />
                        Ao longo do jogo, serão distribuídos aos participantes até três celulares Smartphone NOKIA E5-00 e até três ao público, dependendo da duração das provas estabelecidas.<br />
                        Serão distribuídos durante o jogo três camisas de clubes brasileiros de voleibol aos participantes vencedores de provas e desafios específicos e outras três para o público participante direta ou indiretamente destas provas.<br />
                        Haverá sorteio de demais brindes como bolas, camisetas, chaveiros e outros para os participantes e o público que acompanhar o Game Match Point 2.
                    </li>
                    <li><!-- 7.2 -->
                        Garantia dos produtos<br />
                        O Game Match Point testará todos os produtos no ato de sua compra, entretanto não se responsabiliza pelo mau funcionamento das mercadorias ou defeito de fábrica, sendo que o ganhador do prêmio deverá encaminhar o produto diretamente à assistência técnica no período de garantia ou após a mesma, sendo que o Match Point se responsabiliza apenas pela distribuição dos prêmios.
                    </li>
                </ol>
            </li>
        </ol>
        <br clear="all" />
    </div>
</div>