<div class="post">
    <p class="abouttitle">Sobre</p>
    <div id="post">
        <p>
            O <b>Game Match Point</b> é um jogo virtual que reúne usuários da internet interessados em esporte, especificamente o voleibol.<br />
            O jogo surgiu em Março de 2010 com a participação de dezesseis jogadores, sendo 15 de 6 Estados brasileiros (9 de São Paulo, 2 da Paraíba, 1 do Paraná, 1 do Rio grande do Sul, 1 de Goiás, 1 de Pernambuco) e 1 jogador de Toronto no Canadá.
        </p>
        <p>
            A disputa da primeira edição ocorreu entre os dias 01 de abril de 2010 e 05 de junho de 2010, premiando Marina Amaral de Florínea – SP como a grande campeã do <b>Game Match Point</b>. A paulista ganhou uma camisa do SESI-SP. O segundo colocado foi o paranaense Tiago Machado, morador de Laranjeiras do Sul – PR que recebeu uma bola oficial da Mikasa.<br />
            Houve ainda distribuição de prêmios para os torcedores da primeira edição do jogo, que premiou com bolas de vôlei oficiais <b>Game Match Point</b> o paulista Guilherme Sundfeld de São José dos Campos e a amazonense Débora Cordeiro moradora de Manaus.
        </p>
        <p>
            Durante o jogo, os participantes disputaram provas voltadas ao voleibol no geral, em modalidades de perguntas e respostas, sorte, resistência entre outras. A cada semana, um participante deixava o jogo, e essa decisão cabia ao público que acompanhou o jogo no decorrer de 9 semanas e 10 eliminações, onde o <b>Game Match Point</b> recebeu votos via enquete na internet, mensagens de texto e “tweet” na rede social twitter.
        </p>
        <p>
            Abaixo demonstrativo de votos alcançados durante a primeira edição do <b>Game Match Point</b>:
        </p>
        <table width="100%">
            <tr>
                <td width="30%">
                    Enquete
                </td>
                <td>
                    367 mil votos em 9 semanas.
                </td>
            </tr>
            <tr>
                <td>
                    Tweet
                </td>
                <td>
                    455 mil votos em 9 semanas.
                </td>
            </tr>
            <tr>
                <td>
                    Mensagens de Texto
                </td>
                <td>
                    213 mil votos em 9 semanas (445 SMS/hora de votação)
                </td>
            </tr>
        </table>
        <p>
            O <b>Game Match Point</b> deseja encontrar seu espaço entre os grandes sites de entretenimento voltado a amantes do esporte na internet, se baseando em outros modelos de sucesso como:
        </p>
        <ul>
            <li>à Cartola Sportv</li>
            <li>à Megajogos</li>
            <li>à Jogatina</li>
        </ul>
        <p>
            O <b>Game Match Point</b> 2 irá ocorrer entre 31/03/2012 e 08/07/2012.
        </p>
        <p>
            Após agregar experiências da primeira edição, o <b>Game Match Point</b> está contando com patrocinadores e apoio de algumas empresas para compra de prêmios como notebook e celulares, além de divulgação do <b>Game Match Point</b> 2.
        </p>
        <p>
            O <b>Game Match Point</b> irá premiar o primeiro colocado com um notebook, o segundo colocado com um netbook e o terceiro colocado com um celular Smartphone, além de premiar os torcedores com dezesseis bolas <b>Game Match Point</b>, uma a cada semana e três celulares Smartphone.
        </p>
        <p>
            O <b>Game Match Point</b> já conta com seu site oficial e seu domínio <a href="http://www.gamematchpoint.com.br">www.gamematchpoint.com.br</a>.
        </p>
        <p>
            Durante a segunda edição do <b>Game Match Point</b>, o nome dos participantes e empresas que apoiam o jogo serão lembrados durante as provas, veiculados durante a transmissão de eliminação de participantes via LiveStream durante intervalos comerciais e do próprio jogo.
        </p>
        <p>
            Os sorteios dos brindes serão durante as transmissões LiveStream e irão reunir os interessados e torcedores do <b>Game Match Point</b>, sendo esse o público alvo de nossa propaganda e veiculação de marcas e produtos.
        </p>
        <br clear="all" />
    </div>
</div>