<!-- app(index.postagens) -->
<!-- if ($(tag) == "") tag -->
<!-- $html(slider) -->
<!-- end(tag) -->
<!-- if ($(postagens) != "") check_postagens -->
<!-- each($(postagens)) post -->
<div class="post">
    <a href="index.html?tag=$post(tags_tag)" class="category">$post(tags_nome)</a>
    <p class="arrow">&rarr;</p>
    <a href="index.html?content=postagem&id=$post(id)" class="title">$post(titulo)</a>
    <p class="meta">
        Postado em $post(datacadastro)<!-- if ($post(datacadastro) != $post(datamodificado)) dtmodificado$post(id) -->, atualizado em $post(datamodificado)<!-- end(dtmodificado$post(id)) -->, por <b>$post(usuarios_nome)</b>
    </p>
    <!-- if ($post(destaque) != "") img_popular$post(id) -->
    <div class="thumbnail">
        <a href="index.html?content=postagem&id=$post(id)"><img src="$post(destaque)" alt="postimage" /></a>
    </div>
    <p class="content">
        <!-- else(img_popular$post(id)) -->
    <p class="contentfull">
        <!-- end(img_popular$post(id)) -->
        $post!(descricao)
    </p>
    <!-- if ($post(palavraschaves) != "") arr_palavraschaves$post(id) -->
    <div class="postmeta">
        <img src="asset/img/tag.gif" alt="tag icon"/>
        <a class="tags">$post(palavraschaves)</a>
    </div>
    <!-- end(arr_palavraschaves$post(id)) -->
</div>
<!-- end(post) -->
<!-- if ($(pagination) != "") check_pagination -->
<div class="articles-nav">
    <ul class="pages">
        <!-- each($(pagination)) pagination -->
        <li><a href="index.html?page=$pagination()&tag=<!-- $(tag) -->">$pagination()</a></li>
        <!-- end(pagination) -->
    </ul>
    <ul class="flip">
        <!-- if ($(previous_page) != "") previous_page -->
        <li class="prev"><a href="index.html?page=<!-- $(previous_page) -->&tag=<!-- $(tag) -->">&laquo; Anterior</a></li>
        <!-- end(previous_page) -->
        <!-- if ($(next_page) != "") next_page -->
        <li class="next"><a href="index.html?page=<!-- $(next_page) -->&tag=<!-- $(tag) -->">Próximo &raquo;</a></li>
        <!-- end(next_page) -->
    </ul>
</div>
<!-- end(check_pagination) -->
<!-- else(check_postagens) -->
<div class="post">
    <blockquote><p>Não foi encontrado nenhum conteúdo.</p></blockquote>
</div>
<!-- end(check_postagens) -->