<div class="post">
    <p class="abouttitle">TV Game Match Point</p>
    <p class="contentfull">
    <div id="livestreamPlayer">
        <h1>Esta página requer o Adobe Flash Player instalado no seu navegador...</h1>
        <p><a href="http://www.adobe.com/go/getflashplayer">Baixar Adobe Flash Player!</a></p>
    </div>
    <br/>
    <div style="width: 650px;">
        <div style="float:left; height: 16px; vertical-align: middle; margin: 5px; display: none;" id="live_icon"><img src="asset/img/player/access_point.png" alt="ao vivo" /></div>
        <div style="float:left; height: 16px; vertical-align: middle; margin: 5px; display: none;" id="live">ao vivo</div>
        <div style="float:left; height: 16px; vertical-align: middle; margin: 5px; display: none;" id="viewercount_icon"><img src="asset/img/player/eye.png" alt="usuários" /></div>
        <div style="float:left; height: 16px; vertical-align: middle; margin: 5px; display: none;" id="viewercount">0</div>
        <div style="float:left; height: 16px; vertical-align: middle; margin: 5px; display: none;" id="viewercount_title">usuário(s) assistindo.</div>
        <div style="float:right; height: 16px; vertical-align: middle; margin: 5px;" id="control">
            <a id="btnplay" href="javascript:void(0);" onclick="toggleExecution(true);" title="Iniciar"><img src="asset/img/player/play_off.png" alt="iniciar" class="playerbtn" /></a>
            <a style="display: none;" id="btnpause" href="javascript:void(0);" onclick="toggleExecution(false);" title="Pausar"><img src="asset/img/player/pause_off.png" alt="pausar" class="playerbtn" /></a>
            <a style="display: none;" id="btnvolup" href="javascript:void(0);" onclick="player.volumeUp();" title="Aumentar Volume"><img src="asset/img/player/directional_up_off.png" alt="aumentar volume" class="playerbtn" /></a>
            <a style="display: none;" id="btnvoldown" href="javascript:void(0);" onclick="player.volumeDown();" title="Abaixar Volume"><img src="asset/img/player/directional_down_off.png" alt="abaixar volume" class="playerbtn" /></a>
        </div>
    </div>
</p>
</div>
<script type="text/javascript">
    params = { AllowScriptAccess: 'always', AllowFullscreen: true };
    swfobject.embedSWF("http://cdn.livestream.com/chromelessPlayer/v20/playerapi.swf", "livestreamPlayer", "650", "394", "9.0.0", "expressInstall.swf", null, params);
    viewerCount = false;
    function livestreamPlayerCallback(event) {
        if (event == 'ready') {
            player = document.getElementById("livestreamPlayer");
            player.setDevKey('I7zfPq-rBocgoraWiSCwgTDx_9Sto1o4qnCTepxGm1GlOgacL05-Q2rKWUsqTjoJN9qCunoxYUWu4nRv_Ux-YYn58sTeO3UhkEodbLcrXTdksKeyz4RDZC9MJlnC6CeW');
            player.load('gamematchpoint');
            player.startPlayback();
            player.showPlayButton(false);
            player.showPauseButton(false);
            if (!viewerCount) {
                viewerCount = setInterval("updateViewerCount()", 1000);
            }
        }
        else if (event == 'playbackEvent') {
            toggleControls(true, player.isLive());
        }
        else if (event == 'disconnectionEvent') {
            toggleControls(false, false);
            clearInterval(viewerCount);
        }
    }
    function updateViewerCount() {
        var viewer = Math.round(player.getViewerCount());
        if (isNaN(viewer)) {
            return;
        }
        $("#viewercount").html(viewer);
    }
    function toggleControls(active, live) {
        toggleLive(live);
        if (active == true) {
            $("#btnplay").hide();
            $("#btnpause, #btnvolup, #btnvoldown, #viewercount_icon, #viewercount_title, #viewercount").show();
        } else {
            $("#btnplay").show();
            $("#btnpause, #btnvolup, #btnvoldown, #viewercount_icon, #viewercount_title, #viewercount").hide();
        }
    }
    function toggleLive(live) {
        if (live == true) {
            $("#live_icon, #live").show();
        } else {
            $("#live_icon, #live").hide();
        }
    }
    function toggleExecution(active) {
        toggleControls(active);
        if (active == true) {
            player.startPlayback();
        } else {
            player.pausePlayback();
        }
    }
    $(".playerbtn").mouseover(function() {
        var src = $(this).attr("src");
        if (src.search("/_off/i")) {
            var src = src.replace("_off", "");
            $(this).attr("src", src);
        }
    }).mouseout(function(){
        var src = $(this).attr("src");
        if (src.search("/_off/i") != false) {
            var src = src.replace(".png", "_off.png");
            $(this).attr("src", src);
        }
    });
</script>