#movers-row div a.cross-link { 
	float: left; 
	margin-top: -9px;
	margin-right: 8px;
}

/* Fixing negative margins */

#movers-row  { 
	position: relative; 
	zoom: 1;
}

.post {
	margin: 18px;
	width: 650px;
	float: left;
}

.post p.content {
	margin: 15px 0 0 20px;
}

.post p.meta {
	width: 400px;
}

.postmeta .comments {
	width: 130px;
	margin-right: 0px;	
}

#sideRight {
	margin-right: -6px;
	
}

#ads {
	margin:30px 0 0 6px;
}

.articles-nav {
	overflow: hidden;
	margin: 0 0 10px 10px;
	width: 100%;
}

.slider-wrap {
	border:1px solid #DDDDDD;
	margin:30px;
	position:relative;
	width:650px;
}

.articles-nav .pages {
	margin:0 14%;
}

#loginbox a.reg {
	float: left;
}


#loginbox .formText {
	background:url("../img/loginbg.jpg") no-repeat;
	border:medium none;
	color:#777777;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-style:italic;
	height:29px;
	line-height:30px;
	margin:12px 0 4px 35px;
	padding-left:30px;
	width:149px;
}

#loginbox .formPassword {
	background:url("../img/passbg.jpg") no-repeat;
	border:medium none;
	color:#777777;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-style:italic;
	height:29px;
	line-height:30px;
	margin:0 0 14px 35px;
	padding-left:30px;
	width:149px;
}

#loginbox .formSubmit {
	background:url("../img/loginb.jpg") no-repeat;
	border:medium none;
	color:#FFFFFF;
	cursor:pointer;
	float:right;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	height:20px;
	margin-right:50px;
	text-transform:uppercase;
	width:53px;
}

#search .searchText {
	background:url("../img/searchbg.gif") no-repeat;
	border:medium none;
	color:#777777;
	float:right;
	font-size:11px;
	height:34px;
	line-height:30px;
	margin-top:15px;
	padding-left:10px;
	width:188px;
}

#search .searchSubmit {
	display:none;
	float:right;
}

* html input {
	z-index: expression( /* an optimized expression which will assign classes to the fields at the page loading */
	runtimeStyle.zIndex = 1,
	type == "text" ? (className += " formText") : 0, /*assinging a class for type="text" */
	type == "password" ? (className += " formPassword") : 0, /* assinging a class for type="password" */
	type == "submit" ? (className += " formSubmit") : 0, /* assinging a class for type="submit" */
	type == "text" ? (className += " searchText") : 0, /* assinging a class for type="text" for the search field */
	type == "submit" ? (className += " searchSubmit") : 0 /* assinging a class for type="submit" for the search field */
	)
}

.post a.title {
	margin-top: 10px;
}

.post a.category {
	margin-top: 10px;
}

.post p.arrow {
	margin-top: 10px;
}

#aboutauthor {
	padding-bottom: 20px;
}

#sharebox {
	padding-bottom: 20px;
}

#replytopost p.title {
	margin: 0px;
}