* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    background-color: #EDEDED;
}
a {
    color: blue;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

img {
    border: none;
}
input {
    vertical-align: middle;
}
#wrapper {
    width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}


/* Header */

#header {
    height: 224px;
    background: url(../img/headerbg.png) center top no-repeat;
}

#logo img {
    width: 164px;
    height: 150px;
    margin: 20px 0 20px 40px;
    position: relative;
    float: left;
}

#loginbox {
    position: relative;
    float: right;
    width: 357px;
    margin-top: 70px;
}

#loginbox p.reg {
    font-family: Tahoma, Geneva, sans-serif;
    color: #ededed;
    size: 11px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
}

#loginbox input[type="text"] {
    background: url(../img/loginbg.png) no-repeat;
    width: 151px;
    height: 34px;
    border: none;
    padding-left: 30px;
    margin: 12px 0 4px 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #777777;
    font-style: italic;
    line-height: 30px;
}

#loginbox input[type="password"] {
    background: url(../img/passbg.png) no-repeat;
    width: 151px;
    height: 31px;
    border: none;
    padding-left: 30px;
    margin: 0 0 14px 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #777777;
    font-style: italic;
    line-height: 30px;
}

#loginbox input[type="submit"] {
    background: url(../img/loginb.png) no-repeat;
    width: 55px;
    height: 22px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFF;
    text-transform: uppercase;
    float: right;
    cursor: pointer;
    margin-right: 50px;
}

#loginbox a.reg {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    color: #ededed;
    text-transform: uppercase;
    margin-left: 40px;
}

.menu {
    width: 1000px;
    height: 59px;
    position: relative;
    float: left;
    background: url(../img/menubg.png) repeat-x;
}

.menu .left {
    background: url(../img/menuleft.png) no-repeat;
    width: 15px;
    height: 59px;
    position: relative;
    float: left;
}

.menu .right {
    background: url(../img/menuright.png) no-repeat;
    width: 15px;
    height: 59px;
    position: relative;
    float: right;
}

.menu ul {
    list-style: none;
    width: 700px;
    height: 59px;
    float: left;
}

.menu ul li {
    position: relative;
    float: left;
    border-right: 1px solid #c7b597;
    height: 59px;
}

.menu ul li a {
    font: Tahoma;
    font-size: 16px;
    color: #161e28;
    text-decoration: none;
    display: block;
    padding: 0 20px 0 20px;
    height: 57px;
    line-height: 57px;
    display: inline;
}

.menu ul li a:hover {
    color: #900;
}

.search {
    width: 200px;
    position: relative;
    float: left;
    margin-left: 70px;
}

.search input[type="text"] {
    background: url(../img/searchbg.gif) no-repeat;
    width: 188px;
    height: 34px;
    border: none;
    margin-top: 15px;
    float: right;
    padding-left: 10px;
    font: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #777777;
    line-height: 30px;
}

.search input[type="submit"] {
    float: right;
    display: none;
}


/* Middle */

#middle {
    width: 100%;
    padding: 0 0 200px;
    height: 1%;
    background-color: #FFF;
}
#middle:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
#container {
    width: 100%;
    float: left;
    overflow: hidden;
}
#content {
    padding: 0 310px 0 0;
}

.post {
    width: 680px;
    position: relative;
    float: left;
    margin: 30px;
}

/* A hack for Safari and Chrome */

body:nth-of-type(1) #movers-row {
    margin-bottom: 90px;
}

/* Post styling */

.post a.category {
    font-size: 18px;
    color: #000;
    float: left;
    text-decoration: none;
    line-height: 18px;
}

.post p.arrow {
    font: Tahoma;
    font-size: 18px;
    color: #000;
    float: left;
    padding: 0 5px;
}

.post a.title {
    font-size: 18px;
    color: #000;
    float: left;
    text-decoration: none;
    line-height: 18px;
}

.post p.meta {
    font: Tahoma;
    font-size: 11px;
    color: #000;
    float: left;
    position: relative;
    clear: both;
}

.post p.meta a {
    color: #000;
}

.post .thumbnail {
    width: 148px;
    height: 148px;
    position: relative;
    float: left;
    clear: left;
    margin-top: 20px;
    border: 1px solid #DDDDDD;
    background-color: #EEEEEE;
}

.post .thumbnail img {
    width: 140px;
    height: 140px;
    margin: 4px;
}

.post .thumbnail:hover {
    background-color: #FFF;
    border: 1px solid #EEE;
}

.post p.content {
    font-size: 12px;
    color: #000;
    float:left;
    width: 420px;
    margin: 16px 0 0 20px;
}

.post p.contentfull {
    font-size: 12px;
    color: #000;
    float:left;
    width: 650px;
    margin-top: 16px;
}

.post blockquote {
    background-color:#F8F8F8;
    border:1px solid #ddd;
    font-style:italic;
    margin: 15px;
    padding: 15px;
    width: 560px;
    float:left;
    position: relative;
    color: #000;
}

.post ol {
    list-style: decimal inside none;
    margin-top: 10px;
    position: relative;
    color: #000;
    float:left;
}

.post ul {
    list-style: disc inside none;
    margin-top: 10px;
    position: relative;
    color: #000;
    float:left;
}

.postmeta {
    position: relative;
    float: left;
    clear: both;
    margin-top: 5px;
    width: 100%;
}

.postmeta img {
    position: relative;
    float: left;
    margin-right: 3px;
}

.postmeta a.tags {
    font-size: 10px; 
    position: relative;
    float: left;
    margin-right: 5px;
    color: #000;
}

.postmeta .comments {
    position: relative;
    float: right;
    background: url(../img/combg.gif) repeat-x;
    height: 28px;
    margin-right: 30px;
}

.postmeta p.tutcomm {
    color: #000;
    size: 10px;
    float: left;
    padding: 2px 0 0 2px;
}

.postmeta a.comcount {
    position: relative;
    size: 10px;
    padding: 2px 0 0 5px;
    float: left;
    color: #000;
}

.combg-left {
    background: url(../img/combg_left.gif) no-repeat;
    float: left;
    width: 30px;
    height: 24px;
}

.combg-right {
    background: url(../img/combg_right.gif) no-repeat;
    float: right;
    width: 12px;
    height: 24px;
}

/* Post styling modified */

#post p {
    font-size: 12px;
    color: #000;
    margin-top: 16px;
}

#post ul, #post img, #post ol, #post blockquote, #post p {
    float: none;
}

#post img {
    width: 148px;
    height: 148px;
    padding: 4px;
    margin: 10px;
    border: 1px solid #DDDDDD;
    background-color: #EEEEEE;
}

#post img:hover {
    background-color: #FFF;
    border: 1px solid #EEE;
}

#post p {
    font-size: 12px;
    color: #000;
    margin-top: 16px;
}

#post blockquote {
    background-color:#F8F8F8;
    border:1px solid #ddd;
    font-style:italic;
    margin: 15px;
    padding: 15px;
    color: #000;
}

#post blockquote p:first-child {
    margin-top: 0px;
}

#post ol {
    list-style: decimal inside none;
    margin: 5px;
    color: #000;
}

#post ol li {
    margin: 5px;
}

#post ul {
    list-style: disc inside none;
    margin: 10px;
    color: #000;
}


/* Pagination */

.articles-nav {
    float:left;
    font-size:0.8em;
    margin: 0 0 20px 20px;
    padding:0 0 10px;
    width:100%;
}

.articles-nav .pages {
    float: left;
    list-style: none outside none;
    margin: 0 15%;
    padding: 40px 0 0;
    position: relative;
    text-align: center;
    width: 70%;
}

.articles-nav .pages li {
    display:inline;
    line-height:1.8em;
    margin:1px;
    padding:0;
}

.articles-nav .pages a {
    background:none repeat scroll 0 0 #eee;
    border:1px solid #ddd;
    color:#7A7A7A;
    line-height:1em;
    padding:0 4px;
    text-decoration:none;
    font-size: 11px;
}

.articles-nav .pages a:hover {
    color: #7A7A7A;
    background-color: #FFF;
    border: 1px solid #7A7A7A;
}

.articles-nav .flip {
    float:left;
    margin:-1.9em 0 0;
    padding:0 2%;
    width:96%;
    list-style: none;
}

.articles-nav .flip .prev {
    float:left;
}

.articles-nav .flip a {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
}

.articles-nav .flip .next {
    float:right;
    margin-right: 10px;
}

.articles-nav .flip a {
    color:#000;
    text-decoration: underline;
}

.articles-nav .flip a:hover {
    text-decoration: none;
}

/* About the author block */

#aboutauthor {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    float: left;
    width: 640px;
    margin-top: 30px;
}

#aboutauthor .authorlogocont {
    background-color: #DDDDDD;
    float: left;
    height: 128px;
    margin: 22px;
    position: relative;
    width: 128px;
}

#aboutauthor .authorlogocont img {
    position: relative;
    padding: 4px;
}

#aboutauthor .authortextcont {
    float:right;
    position:relative;
    width:465px;
}

#aboutauthor p.authorlogin {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    margin: 20px 0;
}

#aboutauthor p.aboutauthor {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

/* Share Tutorial Block */

#sharebox {
    width: 650px;
    border-bottom: 1px solid #DDDDDD;
    position: relative;
    float: left;
}

#sharebox p.title {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-top: 20px;
    color: #000;
}

.sharebuttons {
    float: left;
    position: relative;
    width: 445px;
    margin: 0 0 20px 140px;
}

/* Tooltips styling */

.social .tooltip { 
    font-size: 1em;
}

.social .tooltip strong { 
    font-size: 1em; 
}

/* news > social */

.social { 
    margin: 10px 0 0 0; 
    float: left; 
    width: 440px;  
    position: relative;  
    float: left;
    text-align: center;
}

.news .social h3 { 
    font-size: 2.6em; 
    width: 440px; 
    margin: 0 0 0 -200px; 
    background: url(../img/separator-gr-2.gif) 0 0 repeat-x; 
    float: left; 
    padding: 30px 0 30px 200px;
}

.social ul {
    margin: 20px 0 0 -10px; 
    list-style: none;
}

.social li { 
    float: left; 
    position: relative; 
    width: 56px;
}

.social a { 
    float: left; 
    color: #111; 
    text-decoration: none; 
    height: 50px;
    background: url(../img/social/social-shadow.png) 50% 29px no-repeat; 
    position: relative; 
    width: 100%;
}

.social a:hover,
.social a:focus { 
    background-position: 50% -119px; 
} 

.social img { 
    margin: 0 auto 0; 
    display: block; 
}

.social a:hover img,
.social a:focus img {
    margin: -10px auto 0px; 
    padding: 0 0 10px; 
} 

.social li a span { 
    display: block; 
    padding: 5px 0 10px; 
    position: relative; 
    text-align: center; 
    font-size: 8pt; 
}

.social a:hover span,
.social a:focus span { /*color: #bf1e2e;*//*text-decoration: underline;*/}

.tooltip span {
    -moz-border-radius:3px 3px 3px 3px;
    -moz-box-shadow:1px 1px 3px rgba(29, 15, 7, 0.35);
    background:none repeat scroll 0 0 #FFFFFF;
    color:#515153;
    float:right;
    font-size:1em;
    line-height:1.3em;
    padding:10px 18px;
    text-align:center;
    width:auto;
}

.tooltip {
    background:url("../img/tooltip-foot.png") no-repeat scroll 100% 0 transparent;
    display:none;
    padding:9px 0 0;
    position:absolute;
    width:200px;
    z-index:999;
}

/* Comments */
#comments {
    width: 650px;
    float: left;
}

#comments p.title {
    font-size: 20px;
    color: #000;
    line-height: 20px;
    text-align: left;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
}

#comments ol {
    list-style: none;
}

#comments ol li {
    width: 650px;
    display: block;
    border-bottom: 1px solid #DDDDDD;
    padding: 15px;
    float: left;
}

#comments ol li img.avatar {	
    float: left;
    margin: 0 15px 15px 0;
    padding: 3px;
    border: 1px solid #DDDDDD;
}

#comments ol li .cred {
    margin-bottom: 10px;
}

#comments ol li .cred span {
    border-bottom: 1px solid #DDDDDD;
    color: #000;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 10px;
}

#comments ol li .cred span a {
    color: #000;
}

/* Sidebar Right */

#sideRight {
    float: right;
    margin-right: -3px;
    width: 290px;
    margin-left: -290px;
    position: relative;
    height: 100%;
    border-left: 1px solid #ddd;
}

/* Ads */

#ads {
    width: 280px;
    margin: 30px 0 0 12px;
    position: relative;
    float: left;
}

#ads ul {
    list-style: none;
}

#ads ul li {
    width: 250px;
    height: 250px;
    padding: 5px;
    border: 1px solid #DDDDDD;
    float: left;
    margin: 0 3px 3px 0;
    background: #EEEEEE;
}

#ads ul li:hover {
    background: #FFF;
    border: 1px solid #008000;
}

#ads a.addad {
    size: 12px;
    color: #000;
}


/* tv */

#tv {
    width: 280px;
    margin: 30px 0 0 12px;
    position: relative;
    float: left;
}

#tv ul {
    list-style: none;
}

#tv ul li {
    width: 250px;
    height: 187px;
    padding: 5px;
    float: left;
    margin: 0 3px 3px 0;
}

/* Latest tuts block */


#popular {
    width: 280px;
    position: relative;
    float: left;
    margin-top: 30px;
    margin-left: 3px;
}

#popular p.popular {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 20px;
}

#popular ul {
    width: 270px;
    list-style: none;
    margin-left: 10px;
}

#popular ul li {
    font-size: 14px;
    line-height: 34px;
    padding: 0 0 0 5px;
    margin-bottom: 15px;
}

#popular ul li:hover {
    background-color: #e6e6e6;
}

#popular ul li a {
    font-size: 14px;
    color: #000;
}

/*
#popular {
    width: 280px;
    position: relative;
    float: left;
    margin-top: 30px;
    margin-left: 3px;
}

#popular p.poptuts {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 20px;
}

#popular .poptut ul {
    width: 270px;	
    list-style: none;
    margin-left: 10px;
}

#popular .poptut ul li {
    width: 270px;	
    list-style: none;
    padding-bottom: 14px;
    margin-bottom: 14px;
}

#popular .poptut ul li:hover {
    background-color: #e6e6e6;
}

#popular .poptut ul li img {
    background-color: #eee;
    border: 1px solid #ddd;
    float: left;
    margin: 0 15px 0 0;
    padding: 5px;
    margin: 4px 10px 0 10px;
}

#popular .poptut ul li img:hover {
    border: 1px solid #EEE;
}

#popular .poptut ul li a {
    font-size: 14px;
    color: #000;
}

*/

/* Visiting Worth menu_lateral block */

#menu_lateral {
    width: 280px;
    position: relative;
    float: left;
    margin-top: 30px;
    margin-left: 3px;
}

#menu_lateral p.menu_lateral {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 20px;
}

#menu_lateral ul {
    width: 270px;
    list-style: none;
    margin-left: 10px;
}

#menu_lateral ul li {
    font-size: 14px;
    line-height: 34px;
    padding: 0 0 0 5px;
}

#menu_lateral ul li:hover {
    background-color: #e6e6e6;
}

#menu_lateral ul li a {
    font-size: 14px;
    color: #000;
}

/* Visiting Worth sites block */

#sites {
    width: 280px;
    position: relative;
    float: left;
    margin-top: 30px;
    margin-left: 3px;
}

#sites p.sites {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 20px;
}

#sites ul {
    width: 270px;
    list-style: none;
    margin-left: 10px;
}

#sites ul li {
    font-size: 14px;
    line-height: 34px;
    padding: 0 0 0 5px;
}

#sites ul li:hover {
    background-color: #e6e6e6;
}

#sites ul li a {
    font-size: 14px;
    color: #000;
}

/* Slider by CSS-Tricks: http://css-tricks.com/creating-a-slick-auto-playing-featured-content-slider/ */

.slider-wrap { 
    width: 650px; 
    position: relative; 
    margin: 30px 30px 0 30px; 
    border: 1px solid #DDD; 
}		

.stripViewer .panelContainer .panel ul { 
    text-align: left; 
    margin: 0 15px 0 30px; 
}

.stripViewer { 
    position: relative; 
    overflow: hidden; 
    width: 650px; 
    height: 285px; 
}

.stripViewer .panelContainer { 
    position: relative; 
}

.stripViewer .panelContainer .panel	{ 
    float: left; 
    height: 100%; 
    position: relative; 
    width: 650px; 
}

.stripNavL, .stripNavR, .stripNav { 
    display: none; 
}

.nav-thumb { 
    border: 1px solid #cecece; 
    margin-top:6px; 
    padding:4px;
    background-color: #EEE;
    margin-left: -1px;
}

.nav-thumb:hover { 
    background-color: #FFF;
    border: 1px solid #EEE;
}

#movers-row	{ 
    margin: -122px 0 0 110px; 
}

#movers-row div	{ 
    width: auto;
    float: left; 
}

#movers-row div a.cross-link { 
    float: right; 
    margin-right: 8px;
}

.photo-meta-data { 
    background: url(../img/transpBlack.png); 
    padding: 10px; 
    height: 50px; 
    margin-top: -75px; 
    position: relative; 
    z-index: 9999; 
    color: white; 
}

.photo-meta-data span { 
    font-size: 13px; 
}

.cross-link	{ 
    display: block; 
    width: 100px; 
    margin-top: -14px; 
    position: relative; 
    padding-top: 15px; 
    z-index: 9999; 
}

.active-thumb { 
    background: transparent url(../img/icon-uparrowsmallwhite.png) top center no-repeat; 
}

.floatLeft { 
    float: left; 
    margin-right: 10px;
}

.floatRight	{ 
    float: right; 
}

.clear { 
    clear: both; 
}

#ribbon {
    background: url(../img/ribbon.png) no-repeat;
    width: 153px;
    height: 153px;
    position: absolute;
    left: -6px;
    top: -6px;
    z-index: 50;
}

/* Reply form styling */

#replytopost {
    width: 650px;
    float: left;
}

#replytopost p.title {
    font-size: 20px;
    color: #000;
    line-height: 20px;
    text-align: left;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
}

#replytopost form {
    margin: 10px;
}

#replytopost form#commentform {
    border: 1px solid #eee;
    padding: 25px;
}

#replytopost form#commentform input[type=submit] {
    display: block;
    border: none;
    background: transparent url(../img/submit.gif) no-repeat;
    cursor: pointer;
    height: 33px;
    width: 107px;
    color: #888;
    font-size: 14px;
}

#replytopost form label {
    display: block;
    margin: 0 0 5px 0;
    color: #000;
}

#replytopost form input[type=text] {
    display: block;
    margin: 0 0 15px 0;
    padding: 10px 5px;
    font: 14px/18px "Lucida sans", Tahoma, sans-serif;
    color: #454545;
    width: 240px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #DDDDDD;
}

#replytopost form textarea {
    display: block;
    width: 510px;
    height: 210px;
    padding: 10px;
    margin: 0 0 20px 0;
    font: 14px/18px "Lucida sans", Tahoma, sans-serif;
    color: #454545;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #DDDDDD;
}

.post p.abouttitle {
    color:#727272;
    font-size:20px;
    line-height:20px;
    padding-bottom:20px;
    text-align:left;
}

/* --- Chat User  --- */

#chatform {
    border: 1px solid #eee;
    padding: 25px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#chatform label {
    color: #000;
    font-size: 14px;
    display: block;
}

#chatform #nome {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font: 14px/18px "Lucida sans", Tahoma, sans-serif;
    color: #777;
    padding: 8px 5px;
    margin: 0 0 15px 0;
}

#chatform input#submit {
    width: 107px;
    height: 33px;
    border: none;
    color: #888888;
    background: url(../img/submit.gif) 0 0 no-repeat;
    float: left;
    margin: 0 2px 0 0;
    cursor: pointer;
}

/* --- Contact  --- */

#contactform {
    border: 1px solid #eee;
    padding: 25px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#contactform label {
    color: #000;
    font-size: 14px;
    display: block;
}

#contactform input[type=text], #contactform input[type=password] {
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font: 14px/18px "Lucida sans", Tahoma, sans-serif;
    color: #777;
    padding: 8px 5px;
    margin: 0 0 15px 0;
}

#contactform textarea {
    width: 600px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font: 14px/18px "Lucida sans", Tahoma, sans-serif;
    color: #777;
    padding: 8px 5px;
    margin: 0 0 15px 0;
}

#contactform input#submit {
    width: 107px;
    height: 33px;
    border: none;
    color: #888888;
    background: url(../img/submit.gif) 0 0 no-repeat;
    float: left;
    margin: 0 2px 0 0;
    cursor: pointer;
}

form .valid { 
    background: url(../img/valid.png) 100% 8px no-repeat; 
    position: relative;
    z-index: 10000;
}

form .error { 
    background: url(../img/error.png) 100% 8px no-repeat;
    position: relative;
    z-index: 10000;
}

/* Footer */

#footer {
    width: 1000px;
    margin: -200px auto 0;
    height: 200px;
    background: url(../img/footerbg.png) no-repeat bottom;
    background-color: #EDEDED; 
}

#footer .menu {
    width: 1000px;
    height: 59px;
    position: relative;
    float: left;
    background: url(../img/menufootbg.png) repeat-x;
}

.menu .leftfoot {
    background: url(../img/menufootleft.png) no-repeat;
    width: 15px;
    height: 59px;
    position: relative;
    float: left;
}

.menu .rightfoot {
    background: url(../img/menufootright.png) no-repeat;
    width: 15px;
    height: 59px;
    position: relative;
    float: right;
}

#copy {
    float: left;
    width: 300px;
    height: 40px;
    margin: 55px 0 0 30px;
}

#copy p.copyright {
    font: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #000;
}

#copy p.copyright a {
    font: Tahoma;
    font-size: 12px;
    color: #000;
}

#copy p.aboutus {
    font: Tahoma;
    font-size: 11px;
    color: #000;
    float: left;
    margin: 0 5px;
}

#copy a.aboutus {
    font-size: 11px;
    color: #000;
    float: left;

}

#footersocial {
    float: right;
    width: 158px;
    height: 40px;
    margin-top: 55px;
}

#footersocial .rss {
    background: url(../img/rss.png) no-repeat;
    width: 16px;
    height: 16px;
}

#footersocial .rss a {
    font: Tahoma;
    font-size: 12px;
    color: #000;
    float: left;
    width: 100px;
    padding-left: 20px;
}

#footersocial .twit {
    background: url(../img/twitter.png) no-repeat;
    width: 16px;
    height: 16px;
    margin-top: 10px;
}

#footersocial .twit a {
    font: Tahoma;
    font-size: 12px;
    color: #000;
    float: left;
    width: 100px;
    padding-left: 20px;
}

.menu-selected {
    font-weight: bolder;
}








/*
#facebox .b {
  background:url(b.png);
}

#facebox .tl {
  background:url(fbx-border-sprite.png) 0 0;
  width: 10px; 
  height: 10px;
}

#facebox .tr {
  background:url(fbx-border-sprite.png) -10px 0;
  width: 10px; 
  height: 10px;
}

#facebox .bl {
  background:url(fbx-border-sprite.png) -20px 0;
  width: 10px; 
  height: 10px;
}

#facebox .br {
  background:url(fbx-border-sprite.png) -30px 0;
  width: 10px; 
  height: 10px;
}
*/

#facebox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2001;
    text-align: left;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#facebox .popup {
    position: relative;

    border: 8px solid transparent;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

    -moz-box-shadow: 0 0 18px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 18px rgba(0,0,0,.4);
    box-shadow: 0 0 18px rgba(0,0,0,.4);
}

#facebox table {
    width: auto !important;
    border-collapse: collapse;
    /* ie 6 hack -- if the global table width is set to anything it could cause us issues*/
    -width:0%;
    margin-bottom: 0;
}

#facebox td {
    border-bottom: 0;
    padding: 0;
}

#facebox .body {
    padding: 10px;
    background: #fff;
    width: 370px;
}

#facebox .loading {
    text-align: center;
}

#facebox .image {
    text-align: center;
}

#facebox img {
    border: 0;
    margin: 0;
}

#facebox .footer {
    border-top: 1px solid #DDDDDD;
    padding-top: 5px;
    margin-top: 10px;
    text-align: right;
}

#facebox .footer img {
    vertical-align: middle;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
    height: 10px;
    width: 10px;
    overflow: hidden;
    padding: 0;
    display: none;
}

#facebox_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
}

.facebox_hide {
    z-index:-100;
}

.facebox_overlayBG {
    background-color: #000;
    z-index: 2000;
}

* html #facebox_overlay { /* ie6 hack */
    position: absolute;
    height: expression("document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'");
}