<!-- app(admin.resultado_enquete) -->
<form action="" method="post" class="form label-inline">
    <div class="portlet x5">
        <div class="portlet-header"><h4>Enquetes</h4></div>
        <div class="portlet-content">
            <!-- if ($(mensagem) != "") mensagem -->
            <div id="search-bar">
                <h3><!-- $html(mensagem) --></h3>
            </div>
            <!-- end(mensagem) -->
            <br clear="all" />
            <div class="field"><label for="titulo">Título </label> <!-- $(titulo) --></div>
            <div class="field"><label for="tipo">Tipo </label> <!-- $(tipo_nome) --></div>
            <div class="buttonrow">
                <button class="btn btn-grey" type="reset" onclick="slate.open('painel.html?content=enquetes');">Cancelar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-red" type="reset" onclick="slate.open('painel.html?content=enquetes/remover&id=<!-- $(id) -->');">Remover</button>
            </div>
            <br clear="all" />
        </div>
    </div>
    <div class="portlet x7">
        <div class="portlet-header"><h4>Opções</h4></div>
        <div class="portlet-content">
            <div class="field"><label for="questao">Questão </label> <!-- $(questao) --></div>
            <div class="field"><label for="votos">Votos </label> </div>
            <!-- each ($(opcoes)) opcao -->
            <div class="field"><label for="opcao_$opcao(id)">$opcao(total) </label> $opcao(opcao)</div>
            <!-- end(opcao) -->
        </div>
    </div>
    <div class="x4">
        <div>Todos os campos ao lado são obrigatórios!</div>
    </div>
</form>
<script type="text/javascript">
    setTimeout(function() {
        $("#search-bar").fadeOut();
    }, 3000);
</script>