<!-- app(admin.edita_enquete) -->
<form action="" method="post" class="form label-inline">
    <div class="portlet x5">
        <div class="portlet-header"><h4>Enquetes</h4></div>
        <div class="portlet-content">
            <!-- if ($(mensagem) != "") mensagem -->
            <div id="search-bar">
                <h3><!-- $html(mensagem) --></h3>
            </div>
            <!-- end(mensagem) -->
            <br clear="all" />
            <div class="field"><label for="titulo">Título </label> <input id="titulo" maxlength="255" name="titulo" type="text" class="large" value="<!-- $(titulo) -->" /></div>
            <div class="field">
                <label for="tipo">Tipo </label>
                <select id="tipo" name="tipo">
                    <option value="RADIO">Escolha única</option>
                    <option value="CHECK">Múltipla escolha</option>
                </select>
            </div>
            <div class="buttonrow">
                <button class="btn btn-grey" type="submit" name="submit">Salvar</button>
                <button class="btn btn-grey" type="reset" onclick="slate.open('painel.html?content=enquetes');">Cancelar</button>
            </div>
            <br clear="all" />
        </div>
    </div>
    <div class="portlet x7">
        <div class="portlet-header"><h4>Opções</h4></div>
        <div class="portlet-content">
            <div class="field"><label for="questao">Questão </label> <input id="questao" name="questao" type="text" class="large" value="<!-- $(questao) -->" /></div>
            <!-- each ($(opcoes)) opcao -->
            <div class="field"><label for="opcao_$opcao(id)">Opção $opcao(id) </label> <input id="opcao_$opcao(id)" name="opcao[$opcao(id)]" type="text" class="large" value="$opcao(valor)" /></div>
            <!-- end(opcao) -->
            <div class="buttonrow">
                <button class="btn btn-grey" type="submit" name="adicionar">Adicionar mais opção</button>
            </div>
        </div>
    </div>
    <div class="x4">
        <div>Todos os campos ao lado são obrigatórios!</div>
    </div>
</form>
<script type="text/javascript">
    setTimeout(function() {
        $("#search-bar").fadeOut();
    }, 3000);
    $("#tipo").val("<!-- $(tipo) -->");
</script>